[2015-03-31 12:46] erlichmen opened #2 "Support protoPayload"
Currently the only metadata that is supported is severity, timestamp and message (textPayload).
It would be nice if log coming from nginx (or apache) will be send using the protoPayload which allows sending much more metadata like method, response time, path, etc.

[2015-04-02 21:55] mr-salty commented on #2
Thanks for the feedback.  Support for structured log ingestion is definitely on our TODO list although I don't have an ETA at the moment.

[2015-04-16 21:02] mr-salty opened #4 "Support specifying 'message_key' for text payload, 'severity_key' for severity, and 'time_key' for the timestamp"
this is based on @filipjs comment on #3

  About format none:
  """The key field is “message” by default, but you can specify a different value using the message_key parameter as shown below"""
  is it possible to read that 'message_key' in the plugin and use it here instead of hard-coding 'message'?

I noted that other output plugins support this (see http://docs.fluentd.org/articles/out_file) so

[2015-04-21 18:18] mr-salty commented on #2
#3 supports structPayload.  We don't have any plans to support protoPayload in the near term, is struct sufficient for your needs?

[2015-04-21 20:16] erlichmen commented on #2
#3 should be enough for my needs, thanks!

[2015-05-18 23:53] mr-salty commented on #2
struct support is now released in [google-fluentd-1.4.0](https://github.com/GoogleCloudPlatform/google-fluentd/releases/tag/v1.4.0), please give it a try and let me know if you have any feedback.

[2015-05-18 23:53] #2 closed

[2015-05-26 21:48] a-robinson opened #15 "Support kubernetes-specific service name and common labels"
@satnam6502 do you have cycles for this? I can do it if you don't.

@mr-salty

[2015-05-27 18:48] mr-salty commented on #15
FYI, the cloud logging API currently only accepts a known set of service names and labels so we will need to add support for this on the backend (and wait for the next weekly release) before doing anything on the plugin.  @andreweames

[2015-06-05 03:10] hoozecn opened #17 "Support overwriting tag with 'tag' key in record"
it would be wonderful if we can overwrite the tag value with the 'tag' value in message

[2015-06-09 21:54] mr-salty commented on #17
Hi - sorry for the delayed response, but could you accomplish this with the rewrite_tag plugin? http://docs.fluentd.org/articles/out_rewrite_tag_filter

[2015-06-14 03:10] hoozecn commented on #17
@mr-salty Thanks for the reply.

It works well with out_rewrite_tag_filter and the following configuration.

Thanks man.

-------
fluentd.conf
[code]
-------
log a message
[code]

------

result:

The message will go to logger "test".

[2015-06-14 03:10] #17 closed

[2015-06-18 20:42] mr-salty commented on #15
OK, Cloud Logging API support for this is in place, so we can modify the plugin at will..

service: "container.googleapis.com";
primary label: "container.googleapis.com/cluster";
secondary label: "container.googleapis.com/namespace";

[2015-07-15 04:09] mr-salty opened #23 "Fix auth issues with tests"
I discovered two issues related to googleauth that are affecting proper operation of the tests:

- googleauth will pull credentials from local disk, which lets tests succeed when they should not; they will fail if run in an environment when these credentials are not present
  - using 'fakefs' should elminate the possibility of this happening
  - and/or, perhaps we can do better credential checking

[2015-07-24 22:18] mr-salty opened #24 "ensure 'textPayload' is text"
It's currently possible to trick the agent into sending non-text in the textPayload, i.e. using 'format json':

[code]

which will result in the plugin issuing an invalid request:

[code]

[2015-09-09 22:38] mr-salty commented on #4
We should also allow specifying the field name for 'severity'.

[2015-09-10 19:11] mr-salty commented on #15
@a-robinson - fixed?

[2015-09-10 19:41] a-robinson commented on #15
Yes -- I'll send another PR soon to fall back to just populating cluster name, namespace name, pod name, and container name in the case that the metadata plugin isn't being used, but this can be considered done.

[2015-09-10 19:41] #15 closed

[2015-09-22 13:56] swalkowski opened #35 "Pod name with a dot not extracted correctly from tag"
I noticed that @tag_to_kubernetes_labels_regexp does accept dots inside a pod name:

[code]

However, Kubernetes allows me to have a pod with dots inside it. According to a message from Kubernetes, the pod name:

[code]

@a-robinson - does this regexp intentionally not accept a dot inside a pod name, or is this a bug?

[2015-09-22 20:35] a-robinson commented on #35
Thanks for catching this, @swalkowski. It is certainly an oversight.

The plugin becomes slightly less flexible if we allow dots there, because it'll basically grab everything from the tag except for the first chunk, regardless of how many chunks are actually part of the pod. We may want to switch this to being a config parameter. I'll send a PR

[2015-09-22 20:36] a-robinson commented on #35
Also, cc @jimmidyson, since this also affects his metadata collector's regex.

[2015-09-22 20:42] jimmidyson commented on #35
Thanks! Fixing in fabric8io/fluent-plugin-kubernetes_metadata_filter

[2015-09-22 20:55] jimmidyson commented on #35
Damn this is harder than it should be.

[2015-09-22 20:58] jimmidyson commented on #35
So fixed in https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter/commit/b7ca287752585f03fc4188d2f69897e1c95814d8

Tag regex is already a config param & uses sane default. Guess you can do the same @a-robinson?

[2015-09-22 21:22] a-robinson commented on #35
Will be fixed by #36

[2015-10-25 13:15] vlad-dragos opened #43 "Plugin does not set severity level based on stream type"
Hello,

I'm using a container to send the logs from a Kubernets pod to Google Cloud Logging and I've noticed that all the log entries have no severity level. From what I understand the plugin should set a severity level based on the "stream" field: ERROR for stderr and INFO for stdout.

[2015-10-26 19:56] mr-salty commented on #43
I believe that change has not made it into a google-fluentd release yet, but it should be coming soon.

If you're able to update the cloud logging gem in the logging container, that should work: /usr/sbin/google-fluentd-gem update fluent-plugin-google-cloud

[2015-11-09 22:57] mr-salty commented on #35
fixed by #36 and released as gem version 0.4.10 and google-fluentd 1.5.4

[2015-11-09 22:57] #35 closed

[2015-11-09 22:58] mr-salty commented on #43
@vlad-dragos can you confirm this is fixed in google-fluentd 1.5.4 or gem 0.4.10

[2015-12-18 15:48] swalkowski opened #50 "Common labels are modified and populated across iterations when looping over tags"
In each iteration, write_log_entries_request['commonLabels'] are set to @common_labels:

https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blob/83e66bc4f1d277a66d06d6e31133f0bc9ea4da33/lib/fluent/plugin/out_google_cloud.rb#L313

However, setting values inside write_log_entries_request['commonLabels'] results in modifying the original @common_labels, so write_log_entries_request['co

[2015-12-19 16:23] sadovnychyi commented on #43
Is it possible to capture severity information using regexp like `format /^(?<message>(?<time>[^ ]*\s*[^ ]* [^ ]*) .*)$/` in config file?

That sample is used to capture timestamp from syslogs, but does not seems to work properly. WOuld like to see documentation about this.

[2016-01-07 20:04] mr-salty opened #51 "document support for setting severity"
Splitting this off from #43 from @sadovnychyi

Is it possible to capture severity information using regexp like `format /^(?<message>(?<time>[^ ]*\s*[^ ]* [^ ]*) .*)$/` in config file?

That sample is used to capture timestamp from syslogs, but does not seems to work properly. WOuld like to see documentation about this.

[2016-01-07 20:06] mr-salty commented on #43
@sadovnychyi I opened #51 to track the documentation issue, I'll follow up there, since the original issue here was about the special-purpose support for setting severity in k8s (which I believe is fixed)

[2016-01-07 20:26] mr-salty commented on #51
We've had a TODO to document this properly, but the short answer is yes, you can use a regexp (or json) to set the severity for a log entry, the key is 'severity' (#4 also discusses making that name configurable).  http://docs.fluentd.org/articles/in_tail has generic documentation on how to do this.

The value of 'severity' ultimately has to be one of the enum values accepted by the Cloud Logging

[2016-01-22 15:09] trekdemo opened #53 "File permission in released gem is too strict"
In the latest version of the gem the `lib/fluent/plugin/out_google_cloud.rb` file has a permission of `640` which can be problematic in case the gem was installed by `root`.

Is it possible to re-release it with fixed permission?

[2016-01-25 17:34] nshttpd opened #54 "gem dependency breaks plugin install"
Looks like on Jan 14th the 0.9 version of the google-api-client was published. The current gemspec has

```gem.add_runtime_dependency 'google-api-client', '>= 0.8.6', '<= 0.9'```

so 0.9 gets picked up and installed, but it looks like with this version release you need to pick and choose what parts of the API to use instead of everything being there. That should probably be changed to '< 0.9' in t

[2016-01-26 02:39] mr-salty commented on #54
indeed I intended that to be < 0.9 to prevent this very issue but I committed the wrong thing.

[2016-01-26 03:35] nshttpd commented on #54
I've done something similar in the past. Only other thing I ran into was out_google_cloud.rb was installed chmod 0640. Since td-agent doesn't run as root it couldn't open it when configured to write to GCL. A simple ansible file chmod fix took care of that.

[2016-01-27 20:34] #54 closed

[2016-01-27 20:35] mr-salty commented on #54
I also pushed this to rubygems as 0.4.14 - I tested it myself and it looks good but please let me know if you have any issues.

[2016-01-27 20:39] mr-salty commented on #53
I released 0.4.14 with the plugin mode set to 0644.

I'm a bit surprised there's not a way to specify this in the gemspec rather than using the permissions on my filesystem, so I'll have to devise a way to ensure it doesn't happen again in the future.   See also https://github.com/rubygems/rubygems/pull/1041

[2016-01-28 09:58] trekdemo commented on #53
@mr-salty thank you very much. Keep up, you're all awesome! :+1:

[2016-02-09 18:53] mr-salty opened #55 "update to google-api-client 0.9"
https://rubygems.org/gems/google-api-client 0.9 has been released and this plugin requires source changes to work with the new version (see #54).

This becomes an issue if the user installs a gem which requires 0.9 (for instance, https://rubygems.org/gems/fluent-plugin-bigquery) since rubygems resolves the dependency by installing 0.9 causing our plugin to fail.

[2016-02-09 19:23] mr-salty commented on #55
See https://github.com/google/google-api-ruby-client/blob/master/MIGRATING.md

[2016-03-09 15:04] mr-salty opened #56 "support setting log severity for logs received from in_syslog"
When fluentd processes logs via the in_syslog input plugin (http://docs.fluentd.org/articles/in_syslog), it converts the tag value by the following pattern:
tag = "#{@tag}.#{facility}.#{priority}"

Our ingestion process currently turns that into a log name. Priority should instead be mapped to the severity level of the log entry.

[2016-03-30 21:59] mr-salty commented on #50
Fixed by #59

[2016-03-30 21:59] #50 closed

[2016-04-19 08:01] ndhoule commented on #53
@mr-salty I have 0.4.16 installed and I'm seeing this issue on `out_google_cloud.rb`, `test_out_google_cloud.rb`, and `fluent-plugin-google-cloud.gemspec`.

[2016-04-19 18:15] mr-salty commented on #53
Argh - sorry, I didn't follow up on my "devise a way to ensure it doesn't happen again" when I closed the issue, and it did happen again.  I will push a fixed 0.4.17.

[2016-04-19 18:29] mr-salty commented on #53
I pushed 0.4.17 which is identical to 0.4.16 but with fixed permissions.  Sorry for the trouble.

It looks like https://github.com/rubygems/rubygems/pull/1041 will fix this but it hasn't been merged.  My umask is 027 which is what leads to the issue.  I'll leave this open to investigate an interim solution.  AFAIK I can't run arbitrary code (to check the permissions) in the gemspec which would be

[2016-04-19 19:39] #53 closed

[2016-04-19 19:57] ndhoule commented on #53
Thanks for the prompt fix!

[2016-04-22 16:28] herohde opened #66 "Logs are dropped if project id contains colon"
For a project "foo.com:bar" configured with the latest version of the plugin, I now see a stream of:

`[warn]: Dropping 2 log message(s) error_class="Google::Apis::ClientError" error="notFound: Project does not exist: foo.com%3Abar"`

in the fluentd logs. It previously worked and the same configuration with a project id without colon works as well. It seems like the google-api-client upgrade to 0.

[2016-04-22 19:38] mr-salty commented on #66
Sounds like this was an issue with the cloud logging backend and not the plugin, so I'll close this.

[2016-04-22 19:38] #66 closed

[2016-04-22 21:30] a-robinson opened #67 "Switch to a more performant JSON parsing library"
We do a bunch of JSON parsing, and Ruby's JSON parsing isn't cheap. We should consider switching to a more performant parser, as Fluentd recently did (https://github.com/fluent/fluentd/pull/748).

@mr-salty @bokowski

[2016-05-05 20:26] #55 closed

[2016-05-18 13:24] palladius commented on #56
(Internal bug is b/18731456). Has anyone spare capacity to fix this?

[2016-06-07 04:46] cgst opened #72 "Structured logging for Amazon Elastic Container Service"
fluent-plugin-google-cloud does not attempt to parse container log message as JSON when running on Amazon ECS. Because of that, log messages created in ECS containers get sent to GCP as:

"metadata": { ... },
"structPayload": {
    "log": "{\"key\": \"value\"}"
}

Is there a way to tell fluent-plugin-google-cloud to parse the "log" record value as JSON on AWS?

[2016-06-07 06:04] cgst commented on #72
I've ended up using https://github.com/tagomoris/fluent-plugin-parser. For anyone running into this issue, here's one possible solution:

[code]

You'll need to install the `parser` fluent plugin:

`$ /opt/google-fluentd/usr/sbin/google-fluentd-gem install fluent-plugin-parser`

[2016-06-15 00:15] igorpeshansky commented on #43
This should be fixed by #76. Will close once the gem is released.

[2016-07-25 21:51] a-robinson commented on #43
I think this can be closed now

[2016-07-26 01:51] #43 closed

[2016-08-17 20:08] smmckay opened #79 "Entire log batch is dropped when 1 entry is too large"
`2016-08-17 20:01:40 +0000 [warn]: Dropping 48 log message(s) error_class="Google::Apis::ClientError" error="badRequest: Log entry with size 189059 bytes exceeds maximum size of 112640 bytes"`

There's no way that over-large entry is going be submitted, but it sucks to lose the other 47 entries.

[2016-08-17 20:23] munangst commented on #79
After the plugin migrates to the v2 logging API, it will be possible to use the [partialSuccess flag](https://cloud.google.com/logging/docs/api/ref_v2beta1/rest/v2beta1/entries/write#request-body) to have only the invalid entries rejected. @igorpeshansky

[2016-09-08 17:19] mr-salty commented on #4
We should also add keep_severity_key, etc. - analogous to keep_time_key for http://docs.fluentd.org/articles/in_tail

[2016-09-19 17:47] mr-salty opened #84 "missing HttpRequest fields are erroneously set to 'nil' rather than left unset."
The code that constructs an HttpRequest sets fields that are not present in the input to 'nil' rather than leaving them unset.  This causes those fields to appear in the request sent to the API with null values rather than being omitted as they should be (the [serialization does make a distinction](https://github.com/google/google-api-ruby-client/blob/1ee88320e91deccf4e69fe589b4959046dcc752e/lib/g

[2016-09-20 12:30] wirtsi opened #85 "Stackdriver doesn't like validated_with_origin_server"
Hi
I am trying to push Nginx logs in the httpRequest format so in GCE Logging I see the proper fields and not just one line per entry.

Log format is
[code]
Now when the log lines (which look like this btw)
[code]
hit the fluentd-gcp pod, the call to the logging API fails
[code]
It doesn't make a difference if I actually set the validatedWithOriginServer field in the log format  or not.

It appear

[2016-09-20 17:50] mr-salty commented on #85
Hi - the API was changed but the google-api-ruby-client was not updated, nor was this plugin - sorry, the change kind of slipped through unnoticed until recently.  It is fixed in the current plugin (which uses the v2 API instead of v1) but that hasn't been released yet.  We weren't planning to backport it to v1; commenting it out is a good workaround assuming you don't actually care about the firl

[2016-09-22 14:09] #85 closed

[2016-10-12 18:49] Crassirostris opened #87 "High memory consumtion"
@piosz

This issue is strongly connected to google cloud plugin usage in Kubernetes and following problems:
- https://github.com/kubernetes/kubernetes/issues/32762
- https://github.com/kubernetes/kubernetes/issues/29411
- https://github.com/kubernetes/kubernetes/issues/23782

Basically, the problem is when fluentd with google cloud plugin starts to experience some load, memory consumption starts t

[2016-10-13 00:44] kzk commented on #87
@Crassirostris @piosz This line is most likely the cause.

- https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blob/master/lib/fluent/plugin/out_google_cloud.rb#L355

When this plugin flushes the buffer, you copy everything to one single Hash and everything is on memory. I'm not sure why this is needed though.

CC/ @tagomoris @repeatedly @edsiper

[2016-10-13 02:07] tagomoris commented on #87
In v0.12, ObjectBufferedOutput pushes events into buffer chunks per tags.
In v0.14, set `config_set_default :chunk_keys, ['tag']` in `config_section :buffer` (and raise error if users specify chunk keys excluding tag).

But, in my opinion, the root cause of this problem is `representable` gem used by google-api-client gem.

[2016-10-13 02:57] igorpeshansky commented on #87
I'm not entirely sure that constructing the REST request in memory will cause unbounded memory use, because we limit the size of the buffer that can be sent in a single request (currently configured to 2M).

It is definitely in our plans to upgrade to fluentd v0.14. I'd like to understand the last comment from @tagomoris better -- what specifically does v0.14 buy us in terms of optimizing memory c

[2016-10-13 07:56] repeatedly commented on #87
In v0.12 with `BufferedOutput`, you can follow `ObjectBufferedOutput` way by overriding `emit`.
MongoDB output plugin did it: https://github.com/fluent/fluent-plugin-mongo/blob/e6c4dc4290b6329a4335a15b2e3d6051a196918b/lib/fluent/plugin/out_mongo.rb#L152
Follow mongodb way or rewrite plugin with ObjectBufferedOutput realizes this purpose.

I also recommend to stop using `repesentable` in `google-ap

[2016-10-13 11:55] Crassirostris commented on #87
@tagomoris @repeatedly

Actually, I have another interesting chart to show you

![Memory consumption chart](https://cloud.githubusercontent.com/assets/1756505/19348010/068c9dc8-914c-11e6-9b63-8a6c94645a07.png)

*Dislamer: on the picture, 1 minute is depicted, except for the file plugin, which memory consumption is not to scale, it's actually 4x slower*

Elasticsearch plugin is also suffering from

[2016-10-13 17:38] mr-salty commented on #87
The code that @kzk referred to is indeed trying to do the same thing as chunk_keys - since the tag becomes part of the URI it is required to make one request per tag.

The new cloud logging API (v2) does not have this restriction (all relevant metadata can be specified per-entry) so it's not strictly necessary to do this grouping, although at least for the time being I decided to keep it because I

[2016-10-13 17:39] mr-salty commented on #87
@repeatedly do you mind filing an issue aganst https://github.com/google/google-api-ruby-client for representable?

[2016-10-13 17:59] edsiper commented on #87
@Crassirostris

thanks for the report. We are investigating this issue.

[2016-10-14 04:12] edsiper commented on #87
I am trying to reproduce the issue locally without Kubernetes (I am trying to isolate), as of now I did the following test:

- generated a big log file: 6 million lines (701MB)
- Let Fluentd tail the log file and send the records to two destinations: a local file and a records counter (through flowcounter_simple plugin)

the configuration file looks as follows:

[code]

Monitoring memory usage, I

[2016-10-14 06:39] repeatedly commented on #87
out_file plugin uses file buffer by default, so it doesn't increase memory.
I assume using memory buffer in above test. And maybe, flush doesn't happen.

Yeah. Current elasticsearch plugin creates lots of object for elasticsearch-ruby client.
Maybe, there are several rooms to improve performance and memory usage.
If I have a time, I will try it.

@mr-salty sonots has already reported this problem:

[2016-10-14 10:21] Crassirostris commented on #87
@edsiper

You mentioned that filters and number of sources can influence the process. Here's the current configuration for fluentd in kubernetes: https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-gcp/fluentd-gcp-image/google-fluentd-journal.conf

For example, it uses record_reformer for renaming tags and there're quite a lot sources which also use regexps. May this be a p

[2016-10-14 14:31] edsiper commented on #87
@repeatedly @tagomoris

I was able to reproduce the problem locally, steps below:

1. Create a Fluentd configuration file:

[code]
2. Make sure you have a Elasticsearch service up and running.

3. Start Fluentd (make sure dummy_es.log file __do not__ exists

4. With [Dummer](https://github.com/sonots/dummer) tool start generating a dummy log file. Use the following configuration:

[code]
the confi

[2016-10-14 14:34] Crassirostris commented on #87
@edsiper Thanks!

Unfortunately, my level of expertise in ruby doesn't allow me to go further and stay within reasonable time bounds. Could you please profile process memory and figure out, what component is responsible?

[2016-10-14 14:35] edsiper commented on #87
@Crassirostris we are on it now.

[2016-10-14 14:40] Crassirostris commented on #87
@edsiper Thanks again! Looking forward to your findings.

[2016-10-14 16:37] edsiper commented on #87
More findings with the following test-case:

- Generate a log file with 10000 new messages per second
- Log generator runs for 5 fixed minutes.
- Test different memory allocators

| Memory Allocator     |  Initial Mem Usage | Mem usage after 5 minutes |
|----------------------------- |---------------------------|-----------------|
| System malloc (libc) |   22MB                    | 488MB       |

[2016-10-14 17:10] edsiper commented on #87
I did a different test to compare memory usage (fragmentation?) between the two allocators:

- Consume Log file which contains 3.000.000 lines
- Fluentd flush interval 1 second (flush to Elasticsearch)

|              | malloc libc | jemalloc |
|------------|----------------|--------------|
| Fluentd |  780MB      | 240MB   |

It's clear that memory fragmentation is an issue, so Jemalloc should be

[2016-10-14 17:20] Crassirostris commented on #87
@edsiper OK, thanks, I will try it out shortly

[2016-10-14 17:57] igorpeshansky commented on #87
The google-fluentd package uses jemalloc. Unless Kubernetes resets it in their agent configuration, they should have it on by default.

[2016-10-14 18:24] piosz commented on #87
@igorpeshansky I'm not sure whether we reset the configuration. Are you able to verify it in our [Dockerfile](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-gcp/fluentd-gcp-image/Dockerfile)?

[2016-10-17 13:40] Crassirostris commented on #87
@edsiper Sorry for the late response

[code]

I tried to use `libjemalloc.so.1`, that is embedded in fluentd image for kubernetes, as you described earlier (`LD_PRELOAD=/opt/google-fluentd/embedded/lib/libjemalloc.so /usr/sbin/google-fluentd ...`), but it fails with

[code]

@igorpeshansky I couldn't find any mentions of jemalloc in configuration

Image Dockerfile: https://github.com/kubernetes/ku

[2016-10-17 14:21] edsiper commented on #87
@Crassirostris looks like you are hitting the same issue as described here:

https://github.com/grpc/grpc/issues/7876

In my tests I used Jemalloc 4.2.1. Note that td-agent package v2.3.3 also switched to that version recently:

https://docs.treasuredata.com/articles/td-agent-changelog#20160930-version-v233

[2016-10-17 14:26] Crassirostris commented on #87
@edsiper Yeah, that was my guess, thanks for confirming. I will try again with the new version of jemalloc shortly

[2016-10-17 17:51] igorpeshansky commented on #87
@Crassirostris The `jemalloc` library is loaded in the [init script](https://github.com/GoogleCloudPlatform/google-fluentd/blob/master/templates/etc/init.d/deb/td-agent#L85) for the agent package. I imagine your Dockerfile does not use that, hence the problem.

[2016-10-18 10:06] repeatedly commented on #87
I optimizes elasticsearch plugin to reduce memory usage by avoiding temporary object allocation.

https://gist.github.com/repeatedly/2374f9f8d4947c2694a56e13140de115

I tested this version with 1000,000 records, memory usage becomes 240MB from 370MB on my laptop.
I will send a PR to fluent-plugin-elasticsearch.

And I noticed ruby's major GC run is delayed until reached RUBY_GC_HEAP_OLDOBJECT_LIMI

[2016-10-18 15:31] Crassirostris commented on #87
@edsiper It took some time to adjust all tools, run tests several times and make sure that all results are reproducible. TL/DR jemalloc of the latest version didn't help

![screenshot from 2016-10-18 17 21 11](https://cloud.githubusercontent.com/assets/1756505/19484291/6144943c-9557-11e6-8eb4-0094fd0673d7.png)

@repeatedly Thanks for the suggestion, I'm looking into it

@igorpeshansky OK, thanks!

[2016-10-18 15:42] igorpeshansky commented on #87
This is somewhat alarming — your data shows that with jemalloc, it runs out of memory even faster...
You could also try the (alpha) gRPC implementation of the Cloud Logging plugin.

[2016-10-18 15:59] edsiper commented on #87
@Crassirostris would you please share the Docker file you used to perform that test ?, I want to try reproduce locally and do some other tests

@igorpeshansky I suspect jemalloc chunks sizes can be tuned for the use case. I will do some tests based on Varnish research about the same:

  https://info.varnish-software.com/blog/understanding-varnish-cache-memory-usage

[2016-10-18 16:13] Crassirostris commented on #87
@edsiper I pre-built jemalloc from sources and copies binaries to the container, that's the only difference from [this](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-gcp/fluentd-gcp-image/Dockerfile)

[code]

Then I changed command line in the pod definition to

[code]

Is there any way to set a HARD limit on ruby heap size?

[2016-10-18 22:13] edsiper commented on #87
[code]
^ @repeatedly  @tagomoris

[2016-10-18 22:38] edsiper commented on #87
@Crassirostris

I did some new tests with libc-malloc, jemalloc and a tuned jemalloc. Again this is about writing a log file with 10.000 new lines every second for a period of 2 minutes.

In the following graph I am comparing __Fluentd with libc malloc__ vs __Fluentd with Jemalloc__.

![output](https://cloud.githubusercontent.com/assets/369718/19498577/eaa9f324-954e-11e6-9a6b-6b30310a66a3.png)

Me

[2016-10-20 13:11] nyilmaz opened #88 "Fluentd LogEntry JSON parsing problem"
Hi there,

I have my logs written to stdout with [LogEntry](https://cloud.google.com/logging/docs/api/reference/rest/Shared.Types/LogEntry) as JSON. Therefore my log is like;

[code]

However in Google cloud console this log entry is shown below `structPayload`. Is that a normal behaviour? I expect merging the metadata provided by fluentd and my logEntry object in cloud console. Apparently it is n

[2016-10-21 16:25] meltsufin opened #89 "Enable JSON parsing for App Engine"

[2016-10-22 04:33] vially commented on #72
I suppose you're not able to change the container, right? Because if you are, you might be able to fix it from inside the container.

Unless I've misunderstood your problem, your container right now outputs something like:

[code]

Why not change it to output JSON objects directly:

[code]

[2016-10-27 16:55] oshamin opened #91 "rsyslog %syslogseverity-text% crit => critical"
I discovered issue with rsyslog default name for critical severity.
Rsyslog use "**crit**" priority name for critical events.

But fluent-plugin-google-cloud can not recognize this.

`    # Values permitted by the API for 'severity' (which is an enum).
    VALID_SEVERITIES = Set.new(
      %w(DEFAULT DEBUG INFO NOTICE WARNING ERROR CRITICAL ALERT EMERGENCY))

    # Translates other severity string

[2016-11-12 23:09] Crassirostris commented on #87
To give everyone an update.

We're introduced some changes to fluentd in kubernetes, among them building from td-agent, since old version of jemalloc in google-fluentd package doesn't work on GCI, using mentioned jemalloc and tuning ruby GC settings: https://github.com/kubernetes/kubernetes/pull/35618 It helped us to reduce memory consumption to the level, when we're not OOM'ing from the slightest

[2016-11-12 23:09] #87 closed

[2016-11-18 04:41] ptagr opened #96 "container_name set incorrectly"
We have some services running in a GKE cluster that are logging to the filesystem and are using this plugin to upload logs to Google Cloud Logging. I can see the logs but the labels: pod_name, namespace_name and container_name are empty.

[code]

The comment says  `Container logs in Kubernetes are tagged based on where they came from, so we can extract useful metadata from the tag`.

Not sure how

[2016-11-18 05:33] punitag commented on #96
I changed the logfile name and it seemed to have worked. However the `container_name` is set incorrectly including the `.log` extension (twice).

Here is the logfile name - `log-svc-2169097679-fozwv_dev_log-svc.log`

[code]

 What is wrong in the log file name?

[2016-11-21 16:31] Crassirostris commented on #87
Let me update this issue. So we introduced some fixed to make fluentd consume memory, but it's still quite shaky and fails under the load.

We decided to try a version from the HEAD to check whether performance got better and memory consumption lower, here're the results. The time period is approximately 70 min, fluentd was fed with 1 GB of logs.

![screenshot from 2016-11-21 17 26 43](https://clo

[2016-11-24 15:46] crassirostris opened #98 "Hanging fluentd"
Recently we encountered a hanging fluentd problem in GKE cluster. Kubernetes [logging agent](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/fluentd-gcp/fluentd-gcp-image) is periodically stops sending any logs and writing anything to it's own logs until the manual restart is invoked.

After some research we found [this thread](https://groups.google.com/forum/#!topic/fluentd/H3

[2016-11-24 15:54] Crassirostris commented on #96
@punitag As you can see [there](https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blob/master/lib/fluent/plugin/out_google_cloud.rb#L90), tag should be `<pod_name>_<namespace_name>_<container_name>`. In kubernetes we achieve this using the fluentd plugin record-reformer, you can see how it's done in default GKE logging agent [in kubernetes repo](https://github.com/kubernetes/kubern

[2016-12-01 13:57] kop opened #99 "How this can be used with Stackdriver Error Reporting?"
I'm a little bit confused about how to report errors to Stackdriver Error Reporting by sending JSON strings to stdout. And is it even possible?

I'm trying to use JSON format described in https://cloud.google.com/error-reporting/docs/formatting-error-messages , log messages appear in Stackdriver Logging, but they never appear in Error Reporting.

[2016-12-02 15:59] munangst commented on #99
@thomasschickinger can you answer this?

[2016-12-02 16:08] igorpeshansky commented on #99
Actually, I can. @kop, the format you quoted is for sending errors directly to the error reporting API via REST calls. If you want to use the logging integration with error reporting, you should send regular log payloads with the error traces in the "log" or "message" field. The error reporting integration will pick it up from the ingested logs in Stackdriver Logging backend.
If you write JSON to

[2016-12-02 16:15] kop commented on #99
Thank you, @igorpeshansky.

I'm using GKE, and after digging in the source code of K8S and some other places, came here because had a feel that this is the right place to ask this question. :)

I will try `message` field, however, as I understand, it expects error trace. But how can I add more data, like [ServiceContext](https://cloud.google.com/error-reporting/reference/rest/v1beta1/ServiceContex

[2016-12-02 16:24] thomasschickinger commented on #99
Hi @kop, the metadata in the Error Reporting JSON format (like ServiceContext) is also taken into account when sending errors through logs and not via the API. The important part is that your log is handled as JSON log and not as text log. You can check that by looking at the payload field in Stackdriver Logging. It should be called jsonPayload and not textPayload.

[2016-12-06 18:28] christopherL91 commented on #84
What is the status on this issue? I have the same problem as found in #85. I use nginx and just output the log to stdout which in turn is captured by stackdriver on GCE.

[code]

[2016-12-08 14:09] kop commented on #99
Thank you, everyone. I got it working.

For those who might come here from Google, this works just fine:

[code]

[2016-12-08 14:09] #99 closed

[2016-12-15 15:55] jamesbursa opened #101 "Attempts to use proxy even for metadata service"
I'm using google-fluentd on a GCE instance with no external IP, and running a proxy (Squid) on another instance that has an external IP.

I added:

[code]

to /etc/default/google-fluentd, but when fetching metadata fluentd uses the open-uri library which does not support no_proxy. Therefore the metadata requests get sent to the proxy, which fails.

As a workaround, setting HTTP_PROXY instead of ht

[2016-12-19 18:46] crassirostris opened #102 "Trim too long lines"
Stackdriver currently [has](https://cloud.google.com/logging/quota-policy) a 100KB limit on the size of the log entry.

Sometimes keeping a trimmed version of the message is better than dropping it, even without the rest of the message (as described in https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/issues/79).

Therefore it would be great to have an option (e.g. 'max_log_size')

[2016-12-28 22:50] pnovotnak opened #105 "`require': cannot load such file -- /opt/google-fluentd/embedded/lib/ruby/gems/2.1.0/gems/fluent-plugin-google-cloud-0.5.3/lib/fluent/plugin/out_google_cloud (LoadError)"
At Cyrus Biotechnology we use fluentd running as a Kubernetes daemonset to relay logs from workers without public IP addresses to cloud logging. As of very recently we were using the fluent/fluentd:latest container as a base;

[code]

But the containers built that way have started throwing the following;

[code]

Great! Looks like a musl / glibc issue, I can solve this. So, I switched over to a de

[2016-12-29 12:14] Crassirostris opened #106 "Undefined symbol with version 0.5.3"
When installing `fluent-plugin-google-cloud` with version `0.5.3` on the most recent td-agent, using Ruby 2.1, the following error shows up during startup and fluentd exits

[code]

Minimal configuration to reproduce

[code]

From https://abi-laboratory.pro/tracker/compat_report/ruby/2.2.4/2.3.0/240f7/abi_compat_report.html it seems that protobuf_c.so requires Ruby >= 2.3.0.

@igorpeshansky @piosz

[2017-01-18 01:10] evmin opened #112 "Plugin fails with td-agent on RHEL 7.3"
Getting the following output:

2017-01-18 12:09:04 +1100 [info]: Worker 0 finished unexpectedly with status 127
2017-01-18 12:09:04 +1100 [info]: reading config file path="./td-agent.conf"
2017-01-18 12:09:04 +1100 [info]: starting fluentd-0.14.11 without supervision pid=6763
2017-01-18 12:09:04 +1100 [info]: gem 'fluent-mixin-config-placeholders' version '0.4.0'
2017-01-18 12:09:04 +1100 [info]:

[2017-01-18 01:14] igorpeshansky commented on #112
We are working to address the issue. In the meantime, please explicitly install 0.5.2, which should work.

[2017-01-18 05:23] evmin opened #113 "Feature Request: textPayload"
As a system administrator I would like to improve the readability of the log entries in Google Logging. With the label map configuration I can direct all meta data into labels, leaving only a single field - the message - to display.

I would like to be able to:
- Configure the field name to be used as the text output
- Deliver the field as textPayload instead of jsonPayload

[2017-01-18 16:39] igorpeshansky commented on #112
Duplicate of #106.

[2017-01-18 16:39] #112 closed

[2017-01-18 18:05] dhrupadb commented on #106
We found this is likely an issue with the google-protobuf gem being incompatible on older systems. We build a version ourselves which seems to solve the issue. I've attached the gem here. If you could confirm that replacing the packaged google protobuf gem solves this issue then we will go ahead and package it up in our builds until the protobuf issue is resolved.

http://testrepo.stackdriver.com/

[2017-01-18 19:09] mr-salty commented on #113
If the only remaining field is "message", the plugin will use textPayload.

The field name should be configurable - there is an old issue open for that: https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/issues/4

[2017-01-18 21:59] evmin commented on #113
Brilliant idea.

Though it is not what I am observing:
<img width="1068" alt="screen shot 2017-01-19 at 8 46 29 am" src="https://cloud.githubusercontent.com/assets/5507517/22084379/0df1278a-de24-11e6-89f3-46f2bced8633.png">

I suspect it might be due to the fact that there are in fact three fields remaining when the event reaches the plugin:

[code]

However two of them are mapped to labels:
[code

[2017-01-18 22:05] igorpeshansky commented on #113
I believe Todd means "message" -- it's case sensitive.

[2017-01-19 00:33] evmin commented on #113
Thank you - it works.

This is fantastic. Would be great if could have been made a little less arcane - explicit parameter, docs, etc..

Once again - thank you! As far as I am concerned - the issue is solved.

[2017-01-19 12:50] Crassirostris commented on #106
@dhrupadb OK, thanks a lot! I will try this out soon

[2017-01-19 17:05] ldelossa commented on #106
I'm suffering from this issue also.

[code]

Looks like it is referring to 3.0.2

[2017-01-19 17:09] igorpeshansky commented on #106
@ldelossa, could you please try the `google-protobuf-3.0.2` gem linked in the comment [above](https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/issues/106#issuecomment-273552783)?

[2017-01-19 17:11] ldelossa commented on #106
How can I install this into td-agent's gem distribution?

[2017-01-19 17:26] ldelossa commented on #106
[code]

Think we have the same issue.

[2017-01-19 17:55] dhrupadb commented on #106
You're going to have to uninstall the existing google-protobuf gem first. Because they're the same version I don't think you're actually picking up the second one without uninstalling the first. google-protobuf-3.0.2-x86_64 is the buggy gem you need to remove.

[2017-01-22 02:10] evmin opened #114 "Fluentd stops posting"
Fluent stops posting to Google Cloud Logging after roughly 20 minutes of inactivity.
If it is restarted, everything works OK again.

If the logs are constantly flowing - there seems to be no issues. But if the logs are stopped being posted for some time (app works correctly and there were no INFO level messages), then messages logged later are not delivered.

Using 0.5.2 version.

Not sure where t

[2017-01-22 22:27] evmin commented on #114
Correction.

If there are no logs being posted, the issue occurs sooner. If the logs are flowing, the problem is still there, though it takes a few hours to manifest.

Attaching the log file with captured with -vv setting.
[td-agent.log-20170123.zip](https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/files/722316/td-agent.log-20170123.zip)

[2017-01-23 10:16] evmin commented on #114
I think I might have found the issue, and it is with another plugin. My apologies.

[2017-01-23 10:16] #114 closed

[2017-02-24 16:02] #106 closed

[2017-03-02 12:20] ged15 commented on #84
Hello!
Any progress regarding this issue?

[2017-03-02 12:38] igorpeshansky commented on #84
As far as I know, the latest version of the gem (0.6.0) already does this. @qingling128, could you please verify that and resolve this issue?

[2017-03-02 15:43] qingling128 commented on #84
Looking.

[2017-03-02 17:11] qingling128 commented on #84
For gRPC path (if you set `use_grpc true` in the config), this has already been fixed: If a field is `null` or absent from the input, it will be left unset in the constructed proto (Setting it to `null` does not apply to the gRPC path since the proto has these fields defined as strings or integers).

For the non-gRPC path (if you set `use_grpc false` in the config or leave the `use_grpc` flag unse

[2017-03-02 20:04] qingling128 commented on #84
Slight changes to the implementation: after some discussion, we decided to leave both `null` and absent fields unset in both the gRPC and non-gRPC paths, so the behavior is consistent. Because the end result after converting to protos would be the same regardless of whether we leave it unset or set it null.

[2017-03-21 02:41] mats116 commented on #106
Is this issue resolved?

The same phenomenon is happening also in `fluent-plugin-google-cloud (0.6.0)` with `google-protobuf (3.2.0.2 x86_64-linux)` .

[code]

[code]

[2017-03-21 09:14] crassirostris commented on #106
@mats116 You have only warnings, IIUC, that's irritating, but WAI

Before we had an error and a failure to start:

[code]

This particular problem should be gone, isn't it?

[2017-03-21 11:02] dhrupadb commented on #106
@mats116 - the logspam is caused due to two conflicting json gems that are
pulled in and itself isn't a problem. We intend on cleaning this up. The
Google protobuf issue should be resolved in the 3.2.0.2 gem.

On Mar 21, 2017 5:14 AM, "Mik Vyatskov" <notifications@github.com> wrote:

[2017-03-27 05:19] j-walker23 commented on #51
Does anyone have any examples on how to do this for the syslog config file? It would be cool if the default syslog could get the severity parsed. I am having trouble with the format regex.

[2017-03-27 16:05] qingling128 commented on #51
@j-walker23

A typical GCP instance has syslog formatted as below:

[code]

`severity` does not seem to be in the message itself by default. I guess you have some customized logs with severity in the log messages? To figure out a proper regex, this doc for [tail plugin format](http://docs.fluentd.org/v0.12/articles/in_tail#format-required) might be a good reference.

A sample syslog format is also

[2017-04-06 22:30] qingling128 commented on #84
Fix in. Will be released in `v0.6.1`.

[2017-04-06 22:30] #84 closed

[2017-04-11 12:15] kumudt commented on #105
Facing the exact problem. Is there any solution for this yet??

[2017-04-14 03:05] kdabir opened #123 "Lot of warnings when starting / restarting service"
I see too many warnings when I start/restart the google-fluentd service (Amazon Linux / EC2)

[code]

[code]

[code]

[2017-04-14 03:13] kdabir opened #124 "format json doesn't work"
My application generates a log file which is formatted as per fluentd json format config (One Json object per line)

This works when I set `format` to `none` but entire json is sent in `textPayload`. When I set `format` as `json`, The logs are not even forwarded to Google Stackdriver Logging (at least i can't see them in the UI).

[code]

There is no error/warning in `/var/log/google-fluentd/googl

[2017-04-14 14:31] qingling128 commented on #124
Hi @kdabir, mind providing some sample logs that did not work for you?

[2017-04-14 14:31] qingling128 commented on #124
Also which version of the plugin are you using?

[2017-04-14 14:39] qingling128 commented on #123
This should have been fixed as in https://github.com/GoogleCloudPlatform/google-fluentd/pull/22. The fix will be included in the next release (probably next week).

[2017-04-14 16:56] kdabir commented on #124
Excerpt from Log file...

[code]

version:
$ rpm -q google-fluentd
google-fluentd-1.5.13-2.el6.x86_64

[2017-04-15 05:46] kdabir commented on #123
cool, thanks for the update.

[2017-04-16 08:49] j-walker23 commented on #51
@qingling128 Thanks for your response. The syslog format is what i was having trouble with.
The google-fluentd default format is:
`format /^(?<message>(?<time>[^ ]*\s*[^ ]* [^ ]*) .*)$/`
Trying to figure out how to add severity in there with no similar nested named group examples was pretty confusing for a while.

Although pretty ugly i finally got stackdriver syslogs to show severity. I probably

[2017-04-16 14:04] igorpeshansky commented on #51
@j-walker23, you can remove the `[^INFO|ERROR|WARNING|DEBUG|CRITICAL]*` group from your regex — it doesn't do anything.
Embedding `time` in the `message` allows us to preserve the exact line from syslog as `message` in case we mis-parse the timestamp and you need to find an exact log line.
Note that your question is related to

[2017-04-16 14:07] igorpeshansky commented on #51
Sorry about accidentally closing this — fat-fingered the "Close and comment" button in the mobile UI...

[2017-04-16 18:20] j-walker23 commented on #51
@igorpeshansky awesome, thanks for explaining why. That makes sense.

Because i don't control all log formats to syslog the severity can be anywhere after the time if at all. That was the only way i could get it to work was by having the optional any char repeater excluding the severities to be able to pick up in all scenarios.

[2017-04-16 20:08] igorpeshansky commented on #51
@j-walker23, I was talking specifically about the square-bracketed group I've quoted, which is effectively equivalent to `[^ABCDEFGILNORTUW|]*`, and doesn't do what you seem to think it does. The previous `.*?` should be enough to cover all of the relevant prefixes. The parenthesized `<severity>` capture is fine.

[2017-04-17 19:16] qingling128 commented on #124
Hi @kdabir,

To use `jsonPayload` here, you can make either of the changes below:

1. Change the format in the log file to be
`{"tag": "<SOME_TAG>", "timestamp": "2017-04-13 18:59:28", "message": {<JSON_HERE>}}`. For example:
`{"tag": "lingshitesting", "message":{"ca":"2","guid":"23430ec0-9066-11e6-8cd3-3c324a56f302","requestid":"23430ec0-9066-11e6-8cd3-3c324a56f302|1488547768656","appid":"desktop

[2017-04-17 19:39] qingling128 commented on #123
Closing since the fix is in.

[2017-04-17 19:39] #123 closed

[2017-04-20 09:18] kdabir commented on #124
Thanks for the help, I am trying with the first option as it does not tie us with the exact order/name of json fields.

By the way, I figured out a small hack to get it to work without requiring the mentioned changes.
If we just add `time_key timestamp` although there is no such field in log line, stackdriver logging starts showing the log as jsonPayload. Bit weird, but worked for me.

But I am go

[2017-04-20 09:18] #124 closed

[2017-04-21 13:19] dominikschulz opened #125 "Configurable severity key"
Please support changing the key where the severity field is read from.

Currently it seems to be hardcoded to `severity` at https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blob/master/lib/fluent/plugin/out_google_cloud.rb#L913.

Our logging libs mostly use a field called `level` and it would be very hard, if not impossible, to change them all.

[2017-04-21 13:29] igorpeshansky commented on #105
Is this still happening with the latest plugin version ([0.6.1](https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/releases/tag/v0.6.1))? If so, please include the repro steps on a vanilla VM and we'll take a look.

[2017-04-21 13:32] igorpeshansky commented on #125
This is a duplicate of https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/issues/4.
You can use the [record_transformer](http://docs.fluentd.org/v0.14/articles/filter_record_transformer) filter as a workaround.

[2017-04-21 13:32] #125 closed

[2017-04-21 13:37] dominikschulz commented on #125
Sorry, wasn't obvious from reading the issue subjects.

Thanks!

[2017-04-21 14:02] igorpeshansky commented on #98
@crassirostris Wasn't this the issue we debugged together? As I recall, there was a networking problem with the container. Can you still reproduce this?

[2017-04-21 14:03] igorpeshansky commented on #125
Thanks for pointing that out. Fixed.

[2017-04-21 14:08] crassirostris commented on #98
@igorpeshansky No, that's different. It happens randomly and we couldn't reproduce it on purpose. It still happens sometimes, but now that we have liveness probe, it's not a big issue any more

[2017-04-21 14:21] igorpeshansky commented on #98
Any pointers on how to debug this? Can we catch it in the act and at least capture the logs?

[2017-04-21 14:24] crassirostris commented on #98
@igorpeshansky Nothing in the logs, when this happens, fluentd just hungs

Not much of the information, I understand. Let's close this until we encounter this problem again and can take a memory dump

[2017-04-21 14:24] #98 closed

[2017-04-21 14:28] igorpeshansky commented on #98
@crassirostris Sounds good, thanks. Please reopen when we have more data to go on.

[2017-04-21 17:50] kdabir opened #126 "Sending operation object to stackdriver logging"
As per Stackdriver Logging API, we could pass an `operation` object to connect relevant log lines that are part of one operation. (Reference: https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry#LogEntryOperation)

Here are some example log lines:
[code]

But when viewed in Stackdriver Logging, `operation` is nested inside `jsonPayload`.

![image](https://cloud.githubusercontent.com

[2017-04-25 22:07] j-walker23 commented on #51
Gotcha. Thanks for your help.

[2017-04-29 20:49] ilyaskorik commented on #102
Any news?

[2017-05-03 15:16] razvanphp commented on #85
@mr-salty we tried today `gcr.io/google-containers/fluentd-gcp:2.0.2` and we still get this error:

[code]

What can be done to fix this?

[2017-05-03 15:33] qingling128 commented on #85
Hi @razvanphp,

The fix got released in [`v0.6.1`](https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/releases/tag/v0.6.1). Seems [`fluentd-gcp:2.0.2`](https://github.com/kubernetes/contrib/blob/master/fluentd/fluentd-gcp-image/Gemfile#L6) still has version `0.5.*`, thus not picking up this fix.

A newer fluentd-gcp-image needs to be built to have this fix applied.

[2017-05-03 15:48] qingling128 commented on #85
https://github.com/kubernetes/contrib/issues/2579 created to build a new image.

[2017-05-10 14:12] kdabir commented on #126
any updates on this one? I hope the request makes sense. Let me know if I can help with anything.

[2017-05-21 12:19] marcinrosinski commented on #51
Just in case someone might find it useful, had similar issue/requirement, managed to solve it, here is the solution:

https://stackoverflow.com/questions/44095746/stackdriver-logging-log-severity-levels-not-reported-received-when-sent-via-sy/44096765#44096765

[2017-05-31 14:09] vdm opened #131 "LogEntry timestamps truncated to seconds"
New GCE VM, just installed latest version Stackdriver Logging agent. This reproduces across several different VMs, agents, Debian and Centos.

Sub-second timestamps were included in fluentd <0.14, which google-fluentd appears to use. Why are timestamps still truncated in Stackdriver Logging?

[2017-05-31 14:59] qingling128 commented on #131
Hi @vdm, sub-second timestamps should be supported in the latest version Stackdriver Logging agent. Can you give some example of the issue you saw? Sample entries and resulting logs for example.

[2017-05-31 17:13] kdabir commented on #126
I am losing hopes on getting updates on this. If it can not be supported, kindly update the issue, we'll stop watching it.

[2017-06-02 16:03] igorpeshansky commented on #124
You could also try using [filter_parser](http://docs.fluentd.org/articles/filter_parser).

[2017-06-22 16:31] tonglil commented on #125
Is there a way to do this in GKE (add a transformer)?

[2017-06-22 17:38] qingling128 commented on #125
For GKE, right now we support extracting severity from fields with name`severity` or `stream`. Similarly, you should be able to use [record_transformer](http://docs.fluentd.org/v0.14/articles/filter_record_transformer) filter if you are logging `severity` in a field with a different name.

[2017-06-22 17:55] igorpeshansky commented on #125
The logging agent configuration on GKE is not really accessible to users. The only way to override severity is by writing JSON records, one per line, that will be parsed into structured logs. The severity will be determined by the "severity" key in those records.

[2017-06-22 19:07] dominikschulz commented on #125
Writing JSON record with the severity/level in the field `severity` works well for our own applications, but most third-party applications use either `level` or something entirely different for their loglevel field. Thus it would be really great if GKE customers had a way of changing this.

[2017-06-30 17:09] swizzlr commented on #99
@kop @igorpeshansky weirdly, this used to work for me and stopped last week when I upgraded my cluster to run new nodes. any ideas?

[2017-06-30 20:02] igorpeshansky commented on #99
There's been some breakage in GKE JSON parsing in version 1.6.6. It'll be fixed in 1.6.7.

[2017-07-01 19:31] swizzlr commented on #99
@igorpeshansky WHEW. That'll teach me to sit on the cutting edge!

[2017-07-07 10:10] cosmo0920 opened #136 "v0.14 migration"
Why not migrate to Fluentd v0.14 API?

* Pros/Cons
  * https://gist.github.com/okkez/05ee6af7b8bb7de852a36eb2f679c344
* Updating plugin for v0.14 from v0.12
  * http://docs.fluentd.org/v0.14/articles/plugin-update-from-v12

* Other Google Cloud Platform services:
  * fluent-plugin-gcs: done
  * fluent-plugin-gcloud-pubsub: will be merged soon
  * fluent-plugin-gcloud-pubsub-custom: done

And 100+

[2017-07-07 15:49] tonglil commented on #4
Is there a way to also specify the key for JSON log messages?
The log driver I use formats the json log message key as `msg` instead of `message`, and I don't really have a way to transform that.

This is in addition to the severity key.

Overall, there should either be some transformers available in SD logging to format log fields into native SD fields better, or SD logging should make it easier

[2017-07-07 17:27] igorpeshansky commented on #136
We are waiting for https://github.com/fluent/fluentd/issues/1555 to be fixed before we fully commit to 0.14.

[2017-07-07 18:07] igorpeshansky commented on #4
There are transformers available: http://docs.fluentd.org/articles/filter_record_transformer. However, in some environments (e.g., GKE) users don't have access to the logging agent configuration, so they can't use these.

[2017-07-08 00:51] tonglil commented on #4
Yes, this is a GKE environment.

Ideally these transformers can be applied and adjusted in stackdriver as well.

[2017-07-08 02:12] igorpeshansky commented on #4
Unfortunately, this is not possible on GKE today. This is a limitation of the GKE configuration. It's possible to override it by deploying the whole logging subsystem yourself, but there are caveats.
I believe one workaround is to output your logs to a file and run a sidecar container to transform them into the correct form and dump them to stdout. @crassirostris and @piosz may have more recommend

[2017-07-08 21:30] crassirostris commented on #4
@tonglil GKE eng here. The problem is, we in GKE want to make it work as smoothly as possible and maintain the logging infrastructure for you. When there's a bug in the agent or a new Kubernetes version requires a new way of scraping logs, we fix it for you. If GKE configuration is allowed to be changed, it's not clear how to maintain it on GKE side, i.e update the image or configuration without b

[2017-07-13 00:37] cosmo0920 commented on #136
https://github.com/fluent/fluentd/pull/1623 should fix fluent/fluentd#1555.
Is it enough to start v0.14 migration?

[2017-07-13 00:47] igorpeshansky commented on #136
We just updated our packaging to pull in v0.14.19. We'd like to release that and observe it in the wild for a couple of weeks — if all goes fine, we should be ready to migrate. Ideally, 0.14 would be marked "stable" on the fluentd side first...

[2017-07-14 15:44] j-walker23 commented on #126
It's sad no one has responded to this. This was the number one coolest logging feature anyone i have ever talked to loved. Only thing i truly miss from my old appengine days.

@kdabir I am just starting to play with this stuff now so i have no evidence yet but it seems to me that `operation` isn't what you really want. At least according to this hopefully magical [doc](https://gist.github.com/Just

[2017-07-14 16:07] igorpeshansky commented on #126
Apologies for the long silence. The request definitely makes sense, and this is on our roadmap, but there is no ETA at the moment. I'll make another update to this issue once we have anything new to report.

[2017-07-21 14:41] butla opened #139 "This plugin makes td-agent crash after googleauth gem released 0.5.2 version"
As part of our Ansible scripts, I install td-agent with this plugin [using this Ansible role](https://github.com/William-Yeh/ansible-fluentd).

Recently, td-agent wouldn't get up, because it couldn't load googleauth library. After I manually uninstalled googleaut 0.5.2 and installed 0.5.1 everything started working nicely.

Versions:
td-agent: 0.12.35
fluent-plugin-google-cloud: 0.6.4

System: Ubu

[2017-07-21 14:52] igorpeshansky commented on #139
Heh, the "unreadable Ruby files" problem hit is too at some point, and we have an explicit workaround for it in our build.
Thanks for the heads-up.

[2017-07-21 16:55] dazuma commented on #139
@butla It's indeed possible that the googleauth file permissions are the culprit. To be certain there isn't something else going on, though, can you post any error messages or stack traces you're seeing?

[2017-07-21 18:04] dazuma commented on #139
BTW, we just release googleauth 0.5.3 to correct the file permissions issue. Can you please verify?

[2017-07-21 21:49] igorpeshansky commented on #139
@qingling128 verified that the upstream fix worked. No action required on our side.

[2017-07-21 21:49] #139 closed

[2017-07-22 15:37] butla commented on #139
@dazuma Yep, it's working with the new version.Thanks!

[2017-07-25 08:32] ddelbondio opened #142 "error when "severity" field is not a string"
When there is a severity field, which is not of type string in the record the plugin fails, because it unconditionally calls `upcase` on the severity in `parse_severity`.
For Example:
[code]

[2017-08-06 10:22] discordianfish commented on #87
Is anyone still working on memory usae of fluent on GKE? On my cluster it's about 120MB RSS which is lower than stuff reported here but still more memory than any of my other pods, including prometheus server and my postgres database. Even 120MB is lot for a small cluster and it seems to me like quite a lot for shipping logs (unless it's still caching things in memory).

[2017-08-07 17:49] qingling128 commented on #126
Hi @draffensperger - FYI, there is a new pull request (https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/pull/145) that seems to overlap a bit with the `operation` field support you are planning to work on. Mind commenting there on what the current plan/status is?

[2017-08-09 04:16] piosz commented on #87
@discordianfish could you please provide some estimation of your logging volume?

[2017-08-10 01:14] ahprez commented on #131
I seem to have the same problem.  My app runs on a GCE VM which has the latest google-fluentd 1.5.17 installed. Here is a log entry sample from our app, followed by the <source> configuration:

2017-08-09 21:11:37,849 thread-1  INFO [MyApp] Hello World!

<source>
  type tail
  format multiline
  format_firstline /\d{4}-\d{1,2}-\d{1,2}/
  format1 /^(?<time>\d{4}-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}:\d{1

[2017-08-23 06:40] c-knowles opened #149 "Metadata enrichment on AWS k8s cluster"
I was comparing the metadata enrichment results of this plugin on a Kubernetes cluster on AWS versus GKE since we're running Kubernetes on both. Please could someone can help clarify what is expected with the current plugin and best practice?

Currently on AWS we're using the [`fluent-plugin-kubernetes_metadata_filter`](https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter) to add

[2017-08-23 13:41] #126 closed

[2017-08-23 18:22] qingling128 commented on #149
Hi @c-knowles,

Sorry for the confusion.

**[TL;DR]**
We do not have full support for Kubernetes log support at container level (aka. the log is associated with a Kubernetes container) in AWS yet. This is a active area of work though.

Now let me try to clarify it a bit.

**[How Kubernetes metadata used to be handled in GKE and Kubernetes in GCE]**
Kubernetes logs used to be annotated with the `ku

[2017-08-24 04:02] igorpeshansky commented on #149
@c-knowles Pod labels in GKE will be ingested via other means and will eventually appear in the log entries on the viewer side without any explicit action on the user's part. I'll confirm the timelines and ping this issue.

[2017-08-24 04:56] c-knowles commented on #149
@igorpeshansky, I see ok. So stackdriver will start to support enrichment directly, I suppose we could push labels for non-GKE clusters to the same API. Do you think this plugin will enable that for non-GKE clusters at some point or they won't be available? I'm happy to use the other plugin if we need to, the main issue would then be unification.

[2017-08-24 05:52] kdabir commented on #126
so I think I need to wait for 0.6.5 release to contain this fix. Is that correct?

[2017-08-24 14:16] qingling128 commented on #126
@kdabir Yes. I've just released [v0.6.5](https://rubygems.org/gems/fluent-plugin-google-cloud/versions/0.6.5).

[2017-08-28 10:01] butla opened #150 "Failing to load monitoring.rb on version 0.6.5"
Hi! It's me again (#139). This time the file monitoring.rb (which for me, after the installation of td-agent resides in `/opt/td-agent/embedded/lib/ruby/gems/2.1.0/gems/fluent-plugin-google-cloud-0.6.5/lib/fluent/plugin`) misses a readable flag for all other users, so it fails to load when `td-agent` user tries to do it. Which in turn crashes td-agent.

Running `sudo chmod +r` on the file fixes th

[2017-08-28 14:52] igorpeshansky commented on #4
@tonglil FYI, #146 adds `msg` as a supported key for environments where JSON is detected (including GKE). It will be checked by default, with no extra configuration needed.

[2017-08-28 15:05] igorpeshansky commented on #89
@meltsufin #146 will allow App Engine to enable JSON parsing independently at their own pace.

[2017-08-30 21:23] RobertAtomic opened #155 "Fluentd segfault"
We're seeing a very high incidence of segfaults in fluentd when loading or running google-cloud-logging.  The actual segfault seems to happen in google-protobuf so I'm not sure if the issue belongs here or in that project.  Stacktrace below.

Aug 29 00:27:44 upload-5646239437684736-1503966426-1 td-agent[564]: ruby 2.1.10p492 (2016-04-01 revision 54464) [x86_64-linux]
Aug 29 00:27:44 upload-5646239

[2017-08-30 21:29] igorpeshansky commented on #155
Looks like this happens on `require`, so not related to anything our gem is doing. From the paths (`/opt/td-agent`), it looks like you are using the plugin gem with core `fluentd`, rather than with our `google-fluentd` package. Trying the latter would be my first recommendation. What OS distro is this happening on? What version of the plugin gem are you using?

[2017-08-31 17:03] RobertAtomic commented on #155
This is running in td-agent rather than google-fluentd because we have some other gems that we're unhappy with that version (unfortunately I don't recall the specifics).  It's been a while since I tested against that distribution, so I'll take your advice and take that route first.  Do you think this bug should be reported against google-protobuf instead?

Here are some details:
Platform:  GCE
OS

[2017-08-31 17:23] qingling128 commented on #155
Hi @RobertAtomic,

Yeah, please try `google-fluentd` first. We do pin the grpc version (grpc has a dependency on `google-protobuf`) to 1.2 for some known issues. If the seg fault persists, we will need to file a bug in `google-protobuf`. But they will probably need instructions to reproduce the error reliably. That is something we could work together to come up with.

[2017-08-31 18:02] ghost opened #156 "Use on non-GCP non-AWS systems"
Are non-GCP non-AWS systems supported by this plugin? Since Stackdriver APIs can be used from anywhere, this plugin should work from anywhere/any platform. Also, please document how to configure and use it on other platforms where metadata server/zone/vm_id etc are not applicable.
Thanks.

[2017-08-31 18:13] qingling128 commented on #156
Hi @meta-coder, unfortunately we don't yet support non-GCP and non-AWS systems as of today. It is on our roadmap though. We don't have a specific timeline yet, but it's on our radar.

[2017-08-31 21:38] igorpeshansky commented on #156
To expand on what @qingling128 said, the plugin does a bit more than call the API -- it also embeds the logic to detect where it's running or where the data is coming from, so that users don't have to supply that information. This logic has not yet been adapted to non-GCP and non-AWS platforms.

[2017-09-04 11:30] crassirostris commented on #149
@c-knowles `kubernetes_metadata_filter` is not officially part of the Kubernetes project, but people still rely on it, especially for the Elasticsearch-based deployments. I wanted to clarify that "deprecation" mentioned above is in the Stackdriver/GKE context

[2017-09-04 15:24] c-knowles commented on #149
@crassirostris ok, thanks for clarifying. Yes, I understood `kubernetes_metadata_filter` is not part of Kubernetes. We started using it to get the enrichment done on AWS clusters. One of our aims was to roughly align the AWS cluster logging with our GKE clusters, all piped into Stackdriver. I'm definitely happy to keep using it until there's more details about log enrichment or potential to ditch

[2017-09-05 18:19] butla commented on #150
It's the same in 0.6.6...

[2017-09-05 18:31] igorpeshansky commented on #150
Fixed via 1b40072fc9cbf38fc4f8776502ad8600849ef242.

[2017-09-05 18:31] #150 closed

[2017-09-05 18:49] butla commented on #150
@igorpeshansky Thanks for that :)

[2017-09-05 22:13] sayap commented on #131
Same here. With google-fluentd 1.5.17-1, the timestamps are truncated to seconds.

[2017-09-06 12:22] sayap commented on #131
Managed to get sub-second resolution after making this change to fluentd:
[code]

[2017-09-06 16:30] qingling128 commented on #131
Hi @sayap, which Fluentd version is this? You can check it with:
[code]

Fluentd 0.12 does not have miliseconds support as I know. If it's the latest Fluentd version, you might want to submit a ticket (or a PR) in the [Fluentd](https://github.com/fluent/fluentd) project.

[2017-09-06 21:08] sayap commented on #131
@qingling128 It is already on 0.14, but still need the patch above to get nanosecond resolution timestamps into stackdriver:
[code]

[2017-09-06 21:17] igorpeshansky commented on #131
@sayap This is a bug in upstream fluentd code. We pull the upstream gem as-is, with no changes. Can you please open an issue or even send a PR, as @qingling128 requested, and reference it here? Once that's merged and released, we'll pick that up. Thanks.

[2017-09-08 20:13] sanjivr007 opened #157 "Failed to start LSB: data collector for Treasure Data"
This is my ruby plugin code which I am trying to add .
[code]
Ubuntu -16.04

error-
[code]
Please help

[2017-09-08 20:13] sanjivr007 commented on #157
My plugin trying to read data from nginx access log and push data in graphite

[2017-09-08 20:15] sanjivr007 commented on #157
td-agent 0.12.35
gem version - 2.6.11
ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-linux]

[2017-09-08 20:29] sanjivr007 commented on #157
sudo /usr/sbin/td-agent-gem list

*** LOCAL GEMS ***

actionmailer (4.2.8)
actionpack (4.2.8)
actionview (4.2.8)
activejob (4.2.8)
activemodel (4.2.8)
activerecord (4.2.8)
activesupport (4.2.8)
addressable (2.5.1)
arel (6.0.4)
aws-sdk (2.9.9)
aws-sdk-core (2.9.9)
aws-sdk-resources (2.9.9)
aws-sigv4 (1.0.0)
bigdecimal (1.2.4)
bson (4.1.1)
builder (3.2.3)
bundler (1.14.5)
bzip2-ffi (1.0.0)
celluloid

[2017-09-08 21:21] sanjivr007 commented on #157
Did some changes now error got changed -

2017-09-08 21:16:01 +0000 [error]: #0 cannot load such file -- graphite-api path="graphite-api" error_class=LoadError error="cannot load such file -- graphite-api"
  2017-09-08 21:16:01 +0000 [error]: #0 /opt/td-agent/embedded/lib/ruby/site_ruby/2.4.0/rubygems/core_ext/kernel_require.rb:55:in `require'
  2017-09-08 21:16:01 +0000 [error]: #0 /opt/td-agent/

[2017-09-08 21:33] igorpeshansky commented on #157
None of your errors mention this plugin (`fluent-plugin-google-cloud`) or the associated `google-fluentd` package. Sorry, but this is an unrelated issue that you should report against [`td-agent`](https://github.com/treasure-data/td-agent). If it turns out that our plugin was at fault, please reopen.

[2017-09-09 02:31] alahijani commented on #149
Somehow I had hoped that #148 would help with this issue. But seems like even now after #148 is merged all the k8s logic is enabled only if `Platform::GCE` is detected :(

It would be nice if there were an option to force the `resource_type`...

[2017-09-09 07:11] igorpeshansky commented on #149
#148 is only part of the solution. The full solution is coming. Please stay tuned.

[2017-09-24 04:40] sayap commented on #131
Actually, fluentd already defines `to_msgpack_ext` which does the right thing, and doesn't suffer from floating point conversion issue (https://stackoverflow.com/a/18707602) like my patch above.

So, the patch above can be thrown away and replaced with something like this instead:
[code]
That works for me, but you may want to check with @mururu about the proper way to "activate" `to_msgpack_ext`.

[2017-09-25 06:04] mururu commented on #131
For v0.12 style plugins + nanosecond resolution, `Fluent::Engine.msgpack_factory.packer.write([tag, time, record]).to_s ` is better.
If this plugins also have to support 0.12.16 or earlier with same code, then you may need this kind of existence check for `Fluent::Engine.msgpack_factory`: https://github.com/mururu/fluent-plugin-elasticsearch/commit/e671e36d33f5c196f45f8eedfb237dcd16ce01ec.

[2017-10-05 12:23] Blasterdick opened #162 "Unable to get User-defined Metrics for Stackdriver gke_container resource type"
While setting up an alerting policy in Stackdriver for Google Cloud Logging `resource.type="container"` I'm unable to get User-defined Metrics for the `gke_container` resource type in Stackdriver UI.

So, any graph and no alerting for my metric in Stackdriver available.

[2017-10-05 15:08] Blasterdick commented on #162
That was because of Stackdriver start to collect data after metric was created so after several occurrences appeared in log everything working as expected.

[2017-10-05 15:08] #162 closed

[2017-10-09 13:06] vazhnov commented on #105
I tried to use "fluent/fluentd:v0.14.21" and "fluent/fluentd:v0.12.40", got the same error.

Dockerfile:
[code]

`fluent.conf`:

[code]

Start command:

[code]

Error:

[code]

[2017-10-09 19:14] GLStephen opened #164 "Add Multi Worker Support"
FluentD now supports multiworkers, but this plugin does not. I have other plugins we are using inside google-fluentd and machine utilization would be better in multi-worker. This plugin is holding up enabling it. Is this something that can be resolved?

[2017-10-10 17:36] igorpeshansky commented on #164
Thanks for the report. This is on our roadmap, but we have no concrete timelines just yet. We'll update this issue when we do.
We are also an open-source project and accept pull requests if you choose to contribute.

[2017-10-11 14:48] unbornchikken opened #166 "How to catch severity from JSON log files?"
Hi,

We have a pretty standard logging system that uses [bunyan](https://github.com/trentm/node-bunyan) to write out some json log files.

For example, a log file cosist of lines like the following:

[code]

Please note that bunyan writes log severity as a number those could be transformed to standard info, warning, error, etc severity levels.

We process that with the following fluentd configurat

[2017-10-11 15:14] igorpeshansky commented on #166
The Stackdriver output plugin does understand numeric severity values, so you shouldn't have to convert.
As for why it doesn't see the `severity` field, we'd have to investigate. We need to see your whole fluentd config, including the output plugin config. Are you installing the agent package we distribute, or the output plugin gem directly? If the former, what is the package version? If the latte

[2017-10-11 16:17] qingling128 commented on #105
@vazhnov - Hi, that looks like a gRPC issue. We've noticed in the past that certain gRPC versions broke our stuff on specific platforms.

BTW our team have recently built a docker container image for the Logging Agent. We have not yet started to officially support the image yet (it's on our roadmap). Do you mind trying this instead?

[code]

[code]

[code]

[2017-10-12 07:20] erikdubbelboer opened #167 "google-fluentd constantly uses CPU, even when nothing is happening"
When installing google-fluentd on a brand new GCE Ubuntu 16 LTE VM it immediately start using 1% CPU and always continues using around 1% CPU. Even if there is nothing at all happening on the system. This this behavior intended? Shouldn't it just drop to 0%?

We have a stackdriver Basic account if that changes anything.

Installed using:
[code]

Doing an strace shows:
[code]

[2017-10-12 07:22] unbornchikken commented on #166
We're using it in Kubernetes, and we wanted to see our logs by aggregated along with cluster logs, so the source is stdout.

The relevant part of the whole config is the following:

[code]

So the parsed and tranformed entries gets written to stdout and gets collected by Kubernetes agent. By this way once the record gets arrived in Stackdriver it has the severity field, we can see it in the online

[2017-10-12 17:13] vazhnov commented on #105
@qingling128 , thanks, I've created good image by this `Dockerfile`:

[code]
But docker image size too big: 414MB.

[2017-10-12 17:55] qingling128 commented on #105
@vazhnov - Yeah... because of the gem dependencies and also a version of embedded Ruby in it.

Glad to hear the image works! I'm gonna close this ticket then.

[2017-10-12 17:55] #105 closed

[2017-10-12 18:58] igorpeshansky commented on #105
FWIW, we'll work on reducing the image size separately.

[2017-10-13 14:41] swizzlr opened #168 "[GKE 1.7.6] Fluentd-GCP failing to export logs to Stackdriver"
The following logs are visible from yesterday (can't retrieve any earlier ones):
[code]

The issue became apparent when a developer was unable to view logs for a given service on a staging server. On further investigation it was discovered that the node has not been sending logs since the 4th October, which is when this fluentd pod came online.

## Pod description

[code]

# After deleting the flu

[2017-10-13 14:42] swizzlr commented on #168
I have very little familiarity with the guts of fluentd, but I've now drained and am deleting the node. Hopefully the issue won't recur, but I was quite surprised to see there was no health check reporting that fluentd was failing to drain its buffer.

[2017-10-14 00:01] igorpeshansky commented on #168
@crassirostris, any ideas?

[2017-10-14 13:09] crassirostris commented on #168
There is a healthcheck, if you look at the pod definition. If the pod is failing to send logs for a prolonged amount of time, healthcheck assumes that the problem is in buffers and removes them

I looked up your cluster and it seems you had timeout errors, which is possible under specific load profile. There are two outputs and it seems that only one of them was broken, probably that's why livenes

[2017-10-16 13:29] kop opened #169 "Export to Stackdriver does not work: undefined method `upcase' for nil:NilClass"
On GKE, after upgrading to K8S version 1.7.6 (and 1.7.8) logging is stopped to work for my company cluster almost completely.

The following error can be found in `fluentd-gcp` containers:

[code]

I've tried switching to different versions of `fluentd-gcp`, however, this problem is happening on every version of the image with version 0.6.X of the plugin.

We are writing JSON logs according to Sta

[2017-10-17 19:04] swizzlr commented on #168
Indeed – not sure what caused it. I see now the probe issue in k8s.

Shall we chalk this up to one of those things, or shall we leave the issue open?

[2017-10-17 19:35] igorpeshansky commented on #168
I'm closing this issue, since the problem doesn't seem to be in this specific plugin. Please reopen if that turns out to be wrong.

[2017-10-17 19:35] #168 closed

[2017-10-23 23:01] igorpeshansky commented on #166
Ah, so you run a fluentd sidecar that transforms your log file and dumps each record to `stdout` as JSON, and then you let the Kubernetes fluentd pick that up from the container's `stdout`? Do you have a sample of the log lines that you actually see ingested?
Note that #4 asks for adding a `severity_key` option, but that won't help you in Kubernetes, unless you override the default config as descr

[2017-10-24 01:09] psyonix-luis commented on #131
We're also experiencing the same issue on fluentd (0.14.19). I saw a PR was opened and approved, hope you guys can get that in soon, thanks!

[2017-10-24 07:05] unbornchikken commented on #166
Lemme summon @tankovicsg to our conversation, he knows the actual setup better tank me. @tankovicsg please advise regarding the above. Ty.

[2017-10-24 17:25] GLStephen commented on #164
@igorpeshansky in high volume scenarios it can be hard to fully load a box if google-fluentd is part of the pipeline. A multicore web server will saturate a single core very quickly leaving the others relatively idle in terms of web processing.

The process for making the plugin multi-worker is really simple. I could make a PR very quickly. The complexity is whether there is anything in the plugin

[2017-10-24 17:30] GLStephen commented on #167
@rikdubbelboer FluentD is unlikely to go completely idle due to it's buffer monitoring at a minimum. It's likely polling the target resources, and a thread will always be active monitoring the buffer, so it's unlikely to drop to 0.

[2017-10-24 17:47] igorpeshansky commented on #164
@GLStephen yes, we will.  We may need to restructure our tests to allow running with multiple workers, but it would be good to have a starting point.
Out of curiosity, what part of fluentd processing is CPU-bound for you? Log parsing and transformations? Because this output plugin is, for the most part, I/O-bound.

[2017-10-24 18:01] GLStephen commented on #164
@igorpeshansky we are running other plugins through google-fluentd. We would like to run them multi worker but have this plugin in the mix too.

[2017-10-24 21:46] igorpeshansky commented on #131
#161 is merged.

[2017-10-24 21:46] #131 closed

[2017-10-25 11:55] erikdubbelboer commented on #167
@GLStephen Why does FluentD need to poll anything? Can't it just use something like inotify?

1% all the time is a lot even for polling. I'm actually really surprised that no-one else has an issue with this seeing as everyone is affected.

[2017-11-07 02:34] cosmo0920 commented on #136
Fluentd v0.14.22 which is marked as stable release has been released.
https://www.fluentd.org/blog/fluentd-v0.14.22-has-been-released

Is this really enough for v0.14 migration?

[2017-11-07 02:37] cosmo0920 commented on #164
To support this feature, we should do v0.14 migration. #136

[2017-11-08 10:46] tankovicsg opened #175 "Dropping log messages"
The environment is the following.

We have a kubernetes cluster 1.7.8-gke.0 in Google with 3 different node pool, default stackdriver logging enabled and logging-writer scope was added to the cluster and the node-pool as well.
We collect logs in files so I'm created a new daemonset which runs in one node-pool and collect logs from files.

[code]
Local GEM list is the following:
[code]

Sample log

[2017-11-08 10:46] tankovicsg commented on #166
So the main problem was we lost a json format on stdout however it was set.
Finally we drop that sidecar approach. So this issue is not already relevant. The story is continued in #175

[2017-11-15 19:40] tankovicsg commented on #175
problem was in the config files. I used more and fluent read the google_cloud before some transformation executed.

[2017-11-15 19:40] #175 closed

[2017-11-20 19:43] igorpeshansky commented on #166
Looks like this can be closed?
@tankovicsg @unbornchikken

[2017-11-20 19:45] igorpeshansky commented on #169
Can you post a (sanitized) example log entry? I'm mostly interested in the top-level JSON fields.

[2017-11-20 20:38] meltsufin commented on #89
Do you mean rolling it out as in an updated sidecar in the App Engine VM, or from the point of view of the Java Runtime Docker image?

[2017-11-20 21:11] igorpeshansky commented on #89
This will require a change in the `google-fluentd` container configuration on the App Engine Flex side (set `detect_json true`).

[2017-11-21 03:23] gyamxxx opened #178 "other gcp plugin conflict google-api-client version"
Hi, I want to use this plugin with bigquery fluent plugin
https://github.com/kaizenplatform/fluent-plugin-bigquery
Bigquery plugin depends on google-api-client 0.8.X, It happened this error.
[code]
So I specified google-api-client version like this.
[code]
but It failed..
[code]
How can they reside together?
(of cource, without bigquery plugin It works well)

[2017-11-21 18:27] igorpeshansky commented on #178
You must have an old version of the `bigquery` plugin. The [latest code](https://github.com/kaizenplatform/fluent-plugin-bigquery/blob/master/fluent-plugin-bigquery.gemspec#L26) no longer has a conflicting requirement, and I believe it's released in version 1.1.0 and later. Try upgrading.

[2017-11-21 18:27] #178 closed

[2017-11-21 18:59] tankovicsg commented on #166
@igorpeshansky do it!

[2017-11-21 19:15] igorpeshansky commented on #166
Thanks. In case you want to revisit this in the future, there's still the open question of:

Technically, your `record_transformer` setup _ought_ to have worked, but we'd need to debug with sample data.

[2017-11-21 19:15] #166 closed

[2017-11-22 01:24] gyamxxx commented on #178
@igorpeshansky
I'm using fluentd 0.12.40 because not yet stable.
so, latest code is [this](https://github.com/kaizenplatform/fluent-plugin-bigquery/blob/v0.5.0.beta2/fluent-plugin-bigquery.gemspec#L26).
0.9.X version happened same problem....

[2017-11-22 02:18] igorpeshansky commented on #178
This is a problem with the `bigquery` plugin. Such conflicts are inevitable when different plugins have different dependencies. You may be able to force the higher version of the `google-api-client` dependency to be installed by using `gem install -f`...

[2017-11-22 03:50] gyamxxx commented on #178
ok. I see. thanks @igorpeshansky

[2017-11-22 04:31] Azuka commented on #156
Just wanted to show interest in this as well. I'm building out a service that would benefit from forwarding logs to Stackdriver for monitoring.

[2017-11-22 21:49] kop commented on #169
@igorpeshansky Thank you for a response.

I've solved this problem already, so can't find an example log entry now, however, can share some details.

The problem was in logger of one of our applications. There was a bug that caused `severity` fields to have `null` value. The plugin was not able to parse such entries and raised exceptions. Because of those exceptions, all logs from nodes where we h

[2017-11-22 22:46] igorpeshansky commented on #169
Thanks for the report. We're going to make the plugin more robust to handle such situations.

[2017-11-24 21:38] baskaran-md opened #182 "Detecting the platform based on METADATA_SERVICE_ADDR API response header is not working on some AWS instancetype"
**Error:**
[code]

Some of the new instance families like **c5.9xlarge**, doesn't return the same response headers like the other instance types.

[code]

However, on other instances like **c3.large,**
[code]

So relying on the `Server` response header to identify the platform is not foolproof. Instead, can we fallback to another check like below?
**Ref:** http://docs.aws.amazon.com/AWSEC2/latest/

[2017-11-27 17:21] igorpeshansky commented on #89
FYI, just sent https://github.com/GoogleCloudPlatform/appengine-sidecars-docker/pull/81.

[2017-11-27 18:39] igorpeshansky commented on #182
Thank you, please keep us posted on what you find out from AWS support.

[2017-11-27 18:58] baskaran-md commented on #182
AWS Support was able to reproduce the issue, and they have assigned the ticket to internal team to investigate more.

I am also checking with them on the reliability of `services/domain` resource. Will post back their response here.

[2017-11-27 23:12] #169 closed

[2017-11-30 18:56] zbjornson opened #187 "Memory leak introduced in 0.6.9 or 0.6.10"
Since google-fluentd updated from 1.5.22-1 to 1.5.23, we're seeing a ton of retained memory (820 MB retained for ~30 MB of logs over ~7 hours). The only change in google-fluentd between those versions is upgrading fluent-plugin-google-cloud from 0.6.8 to 0.6.10.

Looking at the [commit log](https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/compare/v0.6.8...v0.6.10) here, it looks l

[2017-11-30 18:58] igorpeshansky commented on #187
@qingling128 Mind taking a look?

[2017-11-30 19:44] qingling128 commented on #187
Sure. We've noticed this memory leak issue during the recent benchmarking tests as well. Will take a look. I've also created an internal ticket to track it.

[2017-12-01 10:31] eastlondoner opened #193 "Include instance labels in COMPUTE_CONSTANTS for Google Compute Engine"
This is a feature suggestion:

GCE allows administrators to apply [resource labels](https://cloud.google.com/compute/docs/labeling-resources).

One of the main reasons for using labels is to create arbitrary groupings of resources.

It would be really great if the resource labels for a compute instance were automatically included in the Stackdriver logs for that instance so users could easily sear

[2017-12-04 08:55] longrenren commented on #157
‘rm /lib/systemd/system/td-agent.service’
It works

[2017-12-04 10:48] bivald commented on #187
I'm seeing this as well on 0.6.10 where google-fluentd (1.5.23) easily consumes 1GB of memory for a low log usage server. All logs are flushed to stackdriver (visible in the log viewer)

Perhaps more troubling for us then most other customers, since we run 50+ instances with low ram (g1-small etc)

[code]

Let me know if I can help with any testing or debugging

[2017-12-04 13:16] shashanktyagi3192 commented on #157
Not working for me.. getting the same error
Unit td-agent.service entered failed state.
Dec 04 13:02:24 ip-172-31-51-116.ec2.internal systemd[1]: td-agent.service failed.
Dec 04 13:02:24 ip-172-31-51-116.ec2.internal polkitd[514]: Unregistered Authentication Agent for unix-process:10967:1672027 (system bu
Dec 04 13:04:20 ip-172-31-51-116.ec2.internal polkitd[514]: Registered Authentication Agent f

[2017-12-04 14:40] jrun commented on #187
To pile on here, we are seeing the same behavior. It's giving us a headache in our test environment because the instances don't have the extra memory to spare which leads to OOM errors.

We have instances in production where google-fluentd 1.5.23-1 is using 2GB+ RAM.

[2017-12-04 18:25] qingling128 commented on #187
Sorry for the inconvenience. We are actively looking into this. Will see if we can quickly locate the root cause or at least a safe dependency version to roll back.

[2017-12-04 23:06] zacman85 commented on #156
+1 from my team as well. We use cloud logging from inside our data center and would love to have a more standardized, maintained approach using this fluentd plugin.

[2017-12-04 23:26] qingling128 commented on #156
Thanks all for showing the interest and helping us prioritize our tasks! We've added a note in the agenda for tomorrow's Logging Agent product sync meeting to re-emphasize the impact / interest from customers on this feature. Stay tuned. :)

[2017-12-05 06:08] qingling128 commented on #187
Some initial investigation and benchmarking revealed that the memory leak seems to be isolated to gRPC only (not the REST path). Note that we turned on gRPC by default in [v1.5.19](https://github.com/GoogleCloudPlatform/google-fluentd/releases/tag/v1.5.19).

Might worth trying setting `use_grpc false` in the fluentd config before we find the root cause.

[code]

[2017-12-06 14:48] bakkerpeter commented on #156
Also makes sense, for us at least, to be able to use this in a Minikube environment.

[2017-12-06 17:47] mjkelly commented on #156
This was the first option I looked into for a bare-metal kubernetes installation we are planning to use for some prod traffic. I would have used it if it was supported.

[2017-12-06 18:35] bakkerpeter commented on #156
@igorpeshansky Thanks for pointing that out. I got the project id working, indeed by loading the credentials file. I also tried to figure out how to change the configMap but since I'm to far from understanding the Fluent config, it felt like trail and error.
Could you give me a short sample? Thanks a lot.

[2017-12-06 18:41] igorpeshansky commented on #156
In the fluentd config, right after `@type google_cloud`, add:
[code]
The [instructions](https://kubernetes.io/docs/tasks/debug-application-cluster/logging-stackdriver/#configuring-stackdriver-logging-agents) I pointed to for changing the Kubernetes ConfigMap should tell you how to get to that bit of configuration.

[2017-12-06 18:46] qingling128 commented on #187
Update:
We were able to reproduce the fast memory leak and located the root cause being a dependency upgrade of gRPC. We've rolled back the version in https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/pull/196 and ran benchmark against the new gem. The memory usage looks stable.

<img width="806" alt="memory_leak_benchmarks" src="https://user-images.githubusercontent.com/5287526/33

[2017-12-06 19:18] qingling128 commented on #187
fluent-plugin-google-cloud [v0.6.11](https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/releases/tag/v0.6.11) is released. Releasing google-fluentd package next.

[2017-12-07 21:23] eastlondoner opened #197 "Authentication is broken in latest release"
The official google-fluentd logger fails to authenticate with stack driver since the 0.6.11 release.

This happens on instances in AWS EC2. Our instances are pretty basic instances running Debian Linux 9.2

We install google-fluentd using the script at https://dl.google.com/cloudagents/install-logging-agent.sh

Our systems have been working fine until the 0.6.11 release yesterday.

If we look in t

[2017-12-07 21:36] igorpeshansky commented on #197
This is likely caused by #179.

[2017-12-07 22:31] #197 closed

[2017-12-07 23:15] Stelminator commented on #197
I ran into this as well, also on EC2, debian.  Thanks @eastlondoner for the workaround while waiting for a new build of google-fluentd.

[2017-12-07 23:17] igorpeshansky commented on #197
I've just pushed version 0.6.12 of the gem that should fix the problem. Could you please install that and verify that it works for you while I release the new `google-fluentd` package?

[2017-12-07 23:27] Stelminator commented on #197
I had just started to rebuild some things.  I've switched my patch to say ".12" instead of ".10".  I will verify that .11 still breaks when things come back up.

[2017-12-07 23:29] igorpeshansky commented on #197
Thanks. I'll yank 0.6.11 as soon as the new google-fluentd version is pushed.

[2017-12-07 23:35] Stelminator commented on #197
well, my script didn't work the way I wanted, but, anyway, 0.6.12 makes things work again.

[2017-12-07 23:43] igorpeshansky commented on #197
Thanks for confirming. The new `google-fluentd` package will be released tonight or tomorrow.

[2017-12-08 01:14] zbjornson commented on #187
Thanks. v1.5.24-1 looks good.

[2017-12-08 01:14] #187 closed

[2017-12-08 21:39] qingling128 commented on #197
The new `google-fluentd` package has been released. Also fluent-plugin-google-cloud `v0.6.11` has been yanked.

[2017-12-09 13:33] sanjivr007 commented on #157
If u will tell what all steps you are following and your host machine
specification then I can help you to configure it.

On Mon, Dec 4, 2017 at 6:47 PM, Shashank Tyagi <notifications@github.com>
wrote:

[2017-12-16 07:17] AndryBray opened #199 "Debian 9 (stretch) google-fluentd support"
We can't upgrade our Vms on kubernetes because google-fluentd logging agent is not supported on Debian 9.
Here the details of issue:
https://stackoverflow.com/questions/47838777/google-fluentd-error-on-debian-stretch-google-logging-agent

[2017-12-17 01:39] igorpeshansky commented on #199
The agent does support Debian 9 (stretch). We'll update the documentation.
There isn't enough information in the StackOverflow issue. Do you get any other errors prior to the "GPG error"? The script is supposed to run `apt-key add`.
What is the full output of the docker image build?

[2017-12-17 10:22] AndryBray commented on #199
Installing agents for Debian or Ubuntu.
install-logging-agent.sh: line 94: lsb_release: command not found
E: gnupg, gnupg2 and gnupg1 do not seem to be installed, but one of them is required for this operation
W: GPG error: http://packages.cloud.google.com/apt google-cloud-logging-wheezy InRelease: The following signatures couldn't be verified because the
 public key is not available: NO_PUBKEY 37

[2017-12-28 12:44] derekperkins commented on #156
@igorpeshansky After following your instructions to manually set the `vm_id` and `zone`, fluentd got further along and actually started, but then kicked out an error, presumably on flush. Is this something that can be easily changed/overridden?

[code]

[2017-12-28 14:02] igorpeshansky commented on #156
This was caused by #179, which was rolled back in #198. You should bump the plugin version to `0.6.12`.

[2017-12-28 16:08] derekperkins commented on #156
Thanks for the clarification. I was just using gcr.io/google-containers/fluentd-gcp:2.0.11, which must have shipped with 0.6.11. I rolled my image back to gcr.io/google-containers/fluentd-gcp:2.0.10 and it started working. Thanks!

[2017-12-28 19:12] baskaran-md commented on #182
Amazon has deployed a fix on their server side to include the default headers in the response of metadata.

Now the response from c5.9xlarge instances matches to the c3.large (as specified in https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/issues/182#issue-276701787)
[code]

[2017-12-28 19:12] #182 closed

[2018-01-07 18:23] AndryBray commented on #199
any news about this problem? it's blocking us from upgrading to latest stable debian

[2018-01-08 19:37] qingling128 commented on #199
Hi @AndryBray,

I just doubled checked the installation on Debian GNU/Linux 9 (stretch). I could not reproduce the issue though.

[code]

What does `lsb_release -c` show in your case? If it's not available (it should be installed by default though), can you try `apt-get install lsb-release`?

[2018-01-08 23:06] AndryBray commented on #199
Hi @qingling128
I was trying to install it on docker image php:7.2.0-apache
https://github.com/docker-library/php/blob/f4baf0edbc4e05e241938c68bcc7c9635707583d/7.2/stretch/apache/Dockerfile

Is it enough for you to check again?
Thanks

[2018-01-09 12:14] AndryBray commented on #199
@qingling128  I've just tried to run again with php-7.2.1-apache but it doesn't work.

I had to add "apt-get install lsb-release" because not found on this image.

`==============================================================================
Starting installation of google-fluentd
==============================================================================

Installing agents for Debian or Ubun

[2018-01-09 20:13] igorpeshansky commented on #136
Some of our clients are still on v0.12. We're working to address the issues they're having with v0.14. Once we have no more clients using the latest fluent-plugin-google-cloud with v0.12, we'll consider migrating to v0.14.

[2018-01-10 16:59] qingling128 commented on #199
Hi @AndryBray,

Seems the issue here is that `lsb-release` is missing from that image. Please add this line in the image's Dockerfile (might requires a custom image):

[code]

[2018-01-10 17:04] igorpeshansky commented on #199
Yeah, I've managed to reproduce this in the container image you referenced. Since we can't rely on the presence of lsb_release, we can adapt our script to pull in lsb-release before actually using it.

[2018-01-10 17:23] qingling128 commented on #199
Good idea. I created an internal ticket to track and prioritize it.

[2018-01-20 04:54] rjcrystal commented on #167
@erikdubbelboer i am getting unusually high CPU usage with fluentd

![screenshot at 2018-01-20 10-13-37](https://user-images.githubusercontent.com/1962366/35179968-a5cdaa3e-fdcb-11e7-8b47-cc524c46bb28.png)

[2018-01-21 22:32] adg commented on #167
I am also seeing this. A google_fluentd process spawning a ton of threads, using 100-200% CPU (as reported by top), and allocating memory until it is OOM killed by the kernel. If I kill it manually it just restarts and resumes its little dance.

[2018-01-22 08:27] danielcompton commented on #167
@adg, @rjcrystal  what instance size are you using? I only saw this behaviour on g1-small's, not n1-standard1 instances.

[2018-01-22 11:12] adg commented on #167
@danielcompton n1-standard-4

[2018-01-23 12:01] rjcrystal commented on #167
@danielcompton i am using n1-standard-2 it seems to be resolved after upgrading to version google-fluentd 1.5.25-1

[2018-01-23 17:44] qingling128 commented on #167
Yeah, google-fluentd `1.5.25` includes a performance fix to reuse RPC stubs https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/pull/203. Please upgrade to see if that helps.

There was also some known server side delay on Jan 18 that might cause the agent to retry more frequently, which increased the CPU usage temporarily. The issue has been resolved though. To mitigate the impact i

[2018-01-23 20:33] adg commented on #167
@qingling128 It was a surprise to me that I was running google_fluentd at all, and so it was even more surprising to see it using 100% CPU in top (and getting instance over-utilization warnings from the Cloud Console). If there is a configuration option to improve this, I don't know where to set it; I didn't install google-fluentd. Any improved config value should be the default for the google-flu

[2018-01-26 06:25] qingling128 commented on #167
@adg - Sorry for the delay. Was traveling this week and catching up with emails now.

Which environment are you in? GCE standard VMs do not have google_fluentd installed by default. Google-optimized VM images might have built-in google_fluentd though. So are GAE Flex or GKE customers. The way to custom configurations differ in those environment. Please let us know so we could provider better sugge

[2018-02-01 18:41] derekperkins commented on #136
Will this work with 1.x?

[2018-02-07 22:33] qingling128 commented on #167
PR https://github.com/GoogleCloudPlatform/google-fluentd/pull/74 has been submitted to enforce retry limit by default and let users opt in forever retries if needed.

[2018-02-13 23:34] igorpeshansky commented on #4
Also `time_key`.

[2018-02-14 13:22] gciotta opened #211 "JSON detection code should be prepared to support any timestamp accepted by the timestamp computation code"
There are multiple possible fields accepted by the timestamp computation code at [out_google_cloud.rb#L1440](https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blob/master/lib/fluent/plugin/out_google_cloud.rb#L1440)

The JSON detection code should be prepared to encounter any of them at [out_google_cloud.rb#L517](https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blo

[2018-03-02 22:18] artemas commented on #157
Got it after apt upgrade, removed current google-fluentd.conf, but still is not working:

[code]

[2018-03-02 22:30] igorpeshansky commented on #157
This is a different issue, so I wish you'd've opened a new one... But we might as well use this one to track now.

I suspect you're running into an upgrade problem. You'll probably see something like this in `/var/log/google-fluentd/google-fluent.log`:
[code]
We're working on a fix. A workaround is to overwrite `/etc/google-fluentd/config.d/puppet-enterprise.conf` and restart the service:
[code]

[2018-04-18 14:58] jrynyt opened #220 "what jsonPayload keys are recognized by stackdriver?"
What is the full list of keys that Stackdriver recognizes and displays from a jsonPayload sent by the google_cloud fluentd output?

I am using a fluentd regexp parser to extract keys from (custom) text logs, like:
[code]

These keys appear in jsonPayload in Stackdriver, which is good, but the top line log display is strange: `bytes_sent`, `method`, and `user_agent` are automatically recognized and

[2018-04-18 19:40] qingling128 commented on #220
We recently published a new [doc](https://cloud.google.com/logging/docs/agent/configuration#special_fields_in_structured_payloads) that explains what fields are being extracted automatically. This should be exactly what you are looking for.

BTW, we will be adding `time` and `timestamp` fields as well. Basically:

1. If the `jsonPayload` contains a `time` field that includes `seconds` and `nanos`:

[2018-04-18 20:28] jrynyt commented on #220
I saw that doc, but it doesn't explain why bytes_sent, method, and user_agent do get recognized by SD, which then causes message to be ignored on the top-line SD display

[2018-04-18 20:43] qingling128 commented on #220
`bytes_sent`, `method` and `user_agent` are not recognized by SD. Any remaining structured record fields that are not recognized become part of jsonPayload in the [LogEntry](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry).

[2018-04-18 20:47] qingling128 commented on #220
Wait, I think I was talking about a different thing from what your concern is. You were asking about why things are displayed the way it is in UI. That's controlled by [Log Viewer UI](https://cloud.google.com/logging/docs/view/overview) instead of the agent.

[2018-04-18 20:53] qingling128 commented on #220
Let me try to get an answer for you.

[2018-04-20 00:28] qingling128 commented on #220
According to the Log Viewer UI team, those fields are hard coded by log templates that are different for different logs. For `Nginx`, the fields that will be recognized are:

code / status_code / size / bytes_sent / latencySeconds / response_time / method / agent / user_agent

Custom facets are also in the road map.

[2018-04-20 13:53] jrynyt commented on #220
Thanks for getting that info. I also opened a case with GCP support and they have not been helpful.

What marks a log as being nginx? In my case, I'm just tailing a log file and using the regexp parser, so there's nothing inherently nginx-specific about it. There's a suggestion here, though https://github.com/GoogleCloudPlatform/fluentd-catch-all-config/issues/10#issuecomment-383066167, that the t

[2018-04-20 18:06] qingling128 commented on #220
@jrynyt - Seems this conversation has been routed internally and there is an active conversation going on there. Asher Halpert seems to be on top of it. Custom facets is probably what you need. Please follow up with him for access to that new feature. I've also provided him the details and point of contact for the team that owns the Log Viewer UI.

[2018-04-23 14:45] jrynyt commented on #220
Thank you @qingling128 very much for the help

[2018-04-23 14:45] #220 closed

[2018-05-04 17:11] logicfox opened #221 "Support for on-prem Kubernetes clusters"
Would it be possible to leverage Stackdriver for monitoring on-prem clusters? This would help users have a unified monitoring and logging solution for all their Kubernetes installations (on-prem and cloud) and provide a way to migrate on-prem clusters to the cloud without changing the dev tooling experience.

[2018-05-07 19:30] igorpeshansky commented on #221
Today, we don't have a sanctioned and supported solution for on-prem clusters. However, #222 will fix the one missing bit of functionality that will at least make it possible to get this working on-prem. Full on-prem support is definitely on our roadmap, but let's use this bug for the minimal feature set.

[2018-05-08 15:02] #221 closed

[2018-05-26 17:31] mlushpenko commented on #156
Hi, any update on this? Spent few hours trying to set up monitoring with stackdriver only to figure out it is not working for on-prem environments :)

[2018-05-31 16:47] #142 closed

[2018-06-05 15:22] sbrandtb commented on #149
@igorpeshansky What's the status on this? It would be great to have either the kubernetes metadata plugin integration or a direct integration of non-gce deployments via the kubernetes API

[2018-06-15 15:06] stmos commented on #101
For the record, I have a similar setup and, after adding the same settings reported above, everything is working as expected.

[2018-07-17 15:30] kvidhya opened #230 "JSON parser swallowing messages"
Some JSON messages are not coming through when using `format json`
Here is the json spitting from the application:

[code]

Here is the fluentd config:
[code]

If there was no `parse json`, i can see my message in stack driver. But when i use `parse json` - i dont see anything come through. I can `jq` my json fine - so it is a legal json.

Since the json parse plugin does not show me any errors, i

[2018-07-17 18:43] igorpeshansky commented on #230
This is happening in the base fluentd, before the value ever gets to the output plugin. You'll need to [report this against the upstream fluentd repository](https://github.com/fluent/fluentd/issues/new).

[2018-07-17 18:43] #230 closed

[2018-07-18 16:46] kvidhya commented on #230
Thanks Recreated https://github.com/fluent/fluentd/issues/2078

[2018-07-18 18:09] kvidhya opened #231 "stackdriver output plugin swallowing JSON messages"
Please Ref:

https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/issues/230
https://github.com/fluent/fluentd/issues/2078

In following up with the problem (https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/issues/230) - it appears that when the message is sent out using stdout plugin, then the output is seen in the agent.log Whereas the same cannot be seen in stackdr

[2018-07-20 09:58] nacholopez commented on #53
Is this issue back?

Version 0.4.17
[code]

Latest release: 0.6.21
[code]

Thanks

[2018-07-24 19:15] kvidhya commented on #231
any updates on this?

[2018-07-27 15:58] kvidhya opened #233 "Maximum recursion depth exceeded during encoding"
Hello:

I recently upgraded by google-fluentd and am currently running `1.5.34-1`
I noticed my agent logs had this message

[code]

google-fluentd seems to be dropping messages when this error occurs.  Can you help with this?

[2018-08-07 12:56] nacholopez opened #234 "File permissions too restrictive"
Less restrictive permissions on files after gem installation were addressed by https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/issues/53 but they seem back. I'm not sure about the visibility of a closed issue so I decided to open a new one:

Current state:
[code]

Thanks.

[2018-08-10 12:17] talonx opened #236 "High CPU on service stop"
When google-fluentd is stopped via service stop google-fluentd, it just hangs there and the command times out. The process continues to run and starts to consume high CPU (100%+) on the instance until we issue a kill -9.  A related (might be related) issue is that custom configurations in /etc/google-fluentd/config.d/ are not picked up.

Output from top (snipped a bit on the right)

[code]

OS
DIS

[2018-08-10 18:03] igorpeshansky commented on #236
I strongly suspect that this is fluentd attempting to flush its buffers and shut down gracefully on service stop. If it was running behind, there could be a lot of data in the buffers, hence the load.

BTW, to find the version of the package, run `gpkg -l google-fluentd` instead of `google-fluentd --version`.

[2018-08-11 13:54] talonx commented on #236
@igorpeshansky Thanks for the pointer. It's possible that it was running behind, since I ran it on a machine with a lot of logs, and it would have started parsing them from the beginning. I'll try this on a box which does not have old logs.

[2018-08-13 10:03] talonx commented on #236
Looks like it was due to the backlog. I emptied the logs it was tailing and it worked fine, including a restart. But this might be still an issue where we add a custom configuration while the logs it's supposed to be tailing are being written to at a high rate.

[2018-08-13 10:49] igorpeshansky commented on #236
There's a limit to the volume of logs the agent can process (it's restricted to one core). If you go above that limit, all the agent can do is buffer and hope that the flood subsides.
There are some tuning options that might help the agent ship the data faster, but they will only help up to the above limit. Alternatively, you could shard your logs into separate processes, which would allow even hi

[2018-08-13 10:49] #236 closed

[2018-08-21 15:45] sarmadali20 commented on #156
@mactr0n is this for minikube or vmware k8s cluster I am getting the following in the logging-agent pod

[code]

[2018-08-22 06:46] mactr0n commented on #156
@sarmadali20 we use it on a custom (kubeamd) and aks cluster. Could you please post the complete config?
It seems as if you forget to disable the metadata agent:
[code]

[2018-08-23 06:16] sebright opened #239 "Option to automatically format the LogEntry "trace" field"
Stackdriver requires the LogEntry "trace" field to be formatted as a resource name, such as "`projects/[PROJECT-ID]/traces/[TRACE-ID]`" (https://cloud.google.com/logging/docs/agent/configuration#special_fields_in_structured_payloads).  It would be useful if fluent-plugin-google-cloud provided an option to format the trace ID read from a log entry, using the project ID detected by the plugin.

I en

[2018-08-23 18:33] qingling128 commented on #4
Just a side note, there are [a couple of existing Fluentd plugins](https://cloud.google.com/logging/docs/agent/configuration#modifying_log_records) we can use to rename fields in the log.

An example use case can be found here: https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-gcp/fluentd-gcp-configmap.yaml#L102

[2018-09-06 15:54] andrewhowdencom opened #251 "1.x Support"
Hola crew;

We're currently integrating this with various solutions, but running into trouble maintaining a backward compatible API between the various fluent versions. We're using fluent-bit as the forwarder, and had intended to use this as the aggregator -- but this depends on 0.12, which doesn't support mutual TLS super well.

Is there any track for `1.x` support?

Cheers.

[2018-09-06 16:36] igorpeshansky commented on #251
#240.

[2018-09-07 05:50] andrewhowdencom commented on #251
oh my god thanks! <3

[2018-09-16 02:56] duanshiqiang commented on #156
Would like to see this plugin working on any environment.

[2018-09-16 07:01] srabenhorst commented on #156
@duanshiqiang just follow my hints and it will work anywhere. We use the plugin for log forwarding on a custom cluster and azure.

[2018-09-21 00:35] sebright commented on #239
/cc @ramonza

[2018-09-21 09:10] josselinchevalay opened #259 "Failed to access metadata service ReadTimeOut"
Hello all,

A bit context to begin, currently i try to use fluent-plugin-google-cloud to send logs from docker container (redis) on google stackdriver logging. so for my test i have locally two container :

- fluentd (1.2.5) + ruby (2.5.1)  + fluent-plugin-google-cloud (0.6.25.1)
- redis

in my company we have a http(s)-proxy enable.

my fluent.conf
[code]

My issue : i can't send my local docker

[2018-09-21 11:28] igorpeshansky commented on #259
Are you running this container on either GCP or AWS cloud instances? If not, your use case is not supported. This plugin currently requires a GCP/AWS metadata server to construct the necessary data for communicating with Stackdriver logging.

[2018-09-21 11:55] josselinchevalay commented on #259
Nope i try on premise -> google cloud. so thanks a lot

[2018-09-21 11:55] #259 closed

[2018-09-26 02:13] #251 closed

[2018-09-29 22:40] igorpeshansky commented on #239
Fixed by #260.

[2018-09-29 22:40] #239 closed

[2018-10-05 22:28] igorpeshansky commented on #199
The new version of the agent installation script that fixes this issue has been released.

[2018-10-05 22:28] #199 closed

[2018-10-29 01:29] timuckun opened #264 "Unable to load plugin when running inside of docker container."
Is there a sample app or config file or some documentation anywhere on the internet to make this work with fluentd. None of the web pages I have visited resulted in a working environment.

Dockerfile

[code]
fluent.conf

This works

[code]

This doesn't work and gives the error below

[code]

docker-compose.yml
[code]
Error Message

[code]

[2018-10-29 04:15] igorpeshansky commented on #264
This plugin was never tested with Alpine. Try basing your container off `fluent/fluentd:v1.2.6-debian` or `fluent/fluentd:v1.2.6-debian-onbuild`.

[2018-11-08 00:06] timuckun commented on #264
It also doesn't work with debian onbuild.

I also tried it without a docker container by installing it on my workstation. Two issues.

1. This gem doesn't install with ruby 2.5 so I had to use it ruby 2.4.

2. It still doesn't work.

I set up a simple test which tails a file and sends it to both S3 and stackdriver. It sends to S3 but nothing on google.

[code]

This is on Linux mint 19.

[2018-11-08 00:11] igorpeshansky commented on #264
This plugin doesn't work on non-cloud machines (more specifically, non-GCP and non-AWS machines).

[2018-11-19 10:49] eastlondoner commented on #193
hello?? Anyone there?

[2018-11-19 17:34] qingling128 commented on #193
Hi @eastlondoner, `the resource labels for a compute instance were automatically included in the Stackdriver logs for that instance` should already happen today. Which labels are missing?

[2018-11-20 09:53] eastlondoner commented on #193
@qingling128 It doesn't happen today.
I have an instance with an `environment` label. When I look at logs from that instance I only see:
[code]

[2018-11-20 09:53] eastlondoner commented on #193
@qingling128 perhaps you could show me the place in the code of this plugin where the labels are attached?

[2018-11-21 21:59] qingling128 commented on #193
I see. The client side agent only associate logs with the monitored resource defined [here](https://cloud.google.com/monitoring/api/resources#tag_gce_instance). It comes with minimum set of labels to identify the resource. Metadata is ingested at the backend. To support that, we need to file a feature request with the backend to add additional metadata for `gce_instance` monitored resource.

Alter

[2018-11-26 14:07] eastlondoner commented on #193
the alternatives are basically impossible with GKE. As a GKE user we have not got access to the fluentd configuration on the agent.

[2018-11-27 08:38] eastlondoner commented on #193
@igorpeshansky pod and node annotations are not the same thing as GCE labels

[2018-11-28 12:20] shusugmt commented on #264
@timuckun

This is because your hitting #234
Fix is quite simple. Just set proper permission for those files under `usr/lib/ruby/gems/2.4.0/gems/fluent-plugin-google-cloud-0.7.0`
They should be 644 not 640.

This is not true. I could send a log to StackDriver using this gem from on-prem running fluentd.

[2018-11-28 12:38] cosmo0920 commented on #136
@shusugmt No, this plugin still doesn't use Fluentd v1 native API.

[2018-11-28 22:41] qingling128 commented on #136
The changes recommended in https://docs.fluentd.org/v1.0/articles/plugin-update-from-v0.12#buffered-output-plugins will need to wait till our next major release to avoid disruptions on the client side. Probably some time next year.

[2018-11-29 16:45] bryanlarsen commented on #156
Steps to running stackdriver logging on non Kubernetes environments outside of GCE or AWS:

First get it running on a GCE instance so you can compare against something that acutally works.

1. Create  a service account and put creds in /etc/google/auth/application_default_credentials.json
2. Follow installation steps from https://cloud.google.com/logging/docs/agent/installation
3. edit /etc/google

[2018-12-07 00:56] mbennett-zendesk opened #270 "Logrotate causes causes tail to stop until manual service restart"
Occasionally, during logrotate on a GCE CentOS 7 VM, fluentd does not restart correctly, and logs are not tailed until the service is restarted. Using stock configuration of google-fluentd.

Added a `sudo systemctl restart google-fluentd` to the `postrotate` block in the google-fluentd logrotate config. Still saw the same issue. Any help appreciated ASAP - this is causing Stackdriver logging to st

[2018-12-09 16:52] bmenasha opened #271 "Not extracting httpRequest.protocol and a few other fields from jsonPayload"
I was looking at my app engine flexible logs and noticed that we are logging jsonPayload.httpRequest.protocol  this seems wrong as it should have been pulled out into httpRequst.protocol  (I omitted a few  unnecessary fields::

{
 httpRequest: {
  latency:  "0.124s"
  referer:  "-"
  remoteIp:  "98.229.24.149"
  requestMethod:  "GET"
  requestUrl:  "/test/readiness_log_check"
  status:  200
  user

[2018-12-09 18:42] igorpeshansky commented on #271
Is it possible to get a full initial structured log that was mis-parsed?

[2018-12-21 15:17] caarlos0 commented on #156
@bryanlarsen suggestion works, thanks!

[2019-01-02 14:46] salrashid123 commented on #271
@qingling128

the `serverIP` for atleast the `nginx`, and `apache2` plugin was addressed on https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/pull/275

so we'll want to add in parts for `cache_lookup`, `cache_fill_bytes` , `protocol`

[2019-01-02 16:12] salrashid123 opened #276 "Use X-Forwarded-For IP address value for LogEntry.httpRequest.remoteIp"
loadbalancers can send the `x-forwarded-for` header with the actual origin IP address and the proxies the request traversed.

Currently, the `remoteIp` filed is populated if its present in the source logs and the fluentd agent here just reads that value.  This FR here is to alter the behavior and instead use the `x-forwarded-for` key (if present as a column in the logs at the correct position) and

[2019-01-03 23:55] qingling128 commented on #271
This is being fixed in https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/pull/278.

[2019-01-04 00:32] #271 closed

[2019-01-10 00:24] thefirstofthe300 opened #280 "httpRequest.latency being dropped"
I am trying to get httpRequest information for nginx into Stackdriver Logging and am running into two issues. One of the issues appears to be caused by #271 and the other appears to be unreported.

I am attempting to import latency information for use in the Stackdriver Logging UI; however, it appears to be dropped, either in the fluentd-plugin-google-cloud code or by the Stackdriver API. The log

[2019-01-10 01:59] igorpeshansky commented on #280
According to the [documentation](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry#HttpRequest), `latency` should be

The value you're sending doesn't have the trailing 's', so I'm guessing that's why the API drops it.

[2019-01-10 23:21] thefirstofthe300 commented on #280
You are indeed correct on this. Oversight on my part reading the docs. :man_facepalming:

I guess the one last comment I have is that latency data isn't being imported from the GCLBs. I'm not sure if this is expected but that bug appears to already be opened [elsewhere](https://issuetracker.google.com/issues/110820240).

[2019-01-10 23:21] #280 closed

[2019-01-15 23:53] mattysweeps opened #282 "Update to fluentd >= 1.3.0"
fluentd 1.3.0 introduces support for octet counting syslog messages:
https://www.fluentd.org/blog/fluentd-v1.3.0-has-been-released

[2019-01-19 06:43] tmshn opened #284 "Specify GKE log format using pod labels [feature request]"
# TL; DR

I want to specify format (namely, regex might be enough) for logs from GKE containers.

# Background

Currently GKE container logs can be in two formats: plain text or JSON. In plain text format, severity and time fields are determined irrelevant to the logs themselves. If you want control those fields, you have to emit logs in JSON format.

However, sometimes it's hard to control log fo

[2019-01-29 16:55] sjoeboo opened #287 "Allow for placeholders in project_id [feature request]"
I've got a need to send logs to multiple projects, and pre-defining a set of <match>'s with all the projects is going to be far too brittle.

I've love to be able to do, basically;

[code]

But currently that doesn't seem supported (project_id is required @ plugin initialization/configure stage)?

[2019-01-29 17:56] igorpeshansky commented on #287
Because the Stackdriver logging API requires one request per target project, this feature would potentially mean an unbounded number of requests, which would wreak havoc on the agent performance.
If you have a small number of target projects, you could achieve what you want by tagging the messages appropriately and having multiple instances of the output plugin with different configurations, e.g.:

[2019-01-29 18:38] sjoeboo commented on #287
@igorpeshansky

Thats actually exactly what I'm doing currently, or, close enough (pre-defining the output project targets). Maybe if I explain my uses case it'll help:

 * We've got 100's of GCP projects with existing resources sending logs into SD for those projects.
 * We've also got a project which houses a few multi-tenant GKE clusters.
 * We *want* to be able to re-direct logs from those GKE

[2019-02-01 19:34] sjoeboo opened #288 "Namespace/Namespace ID issues when shipping logs across projects?"
I'm currently running fluentd as a deamonset for my GKE cluster(s). When sending logs for a given namespace to a *different* Project than the one the GKE cluster(s) are in, StackDriver only seems to get the namespace_id populated in the filter menu, not the namespace NAME (although this information IS present in the log records). is there a way to override this to get proper namespace name populat

[2019-02-01 20:01] igorpeshansky commented on #288
This is working as intended. The namespace information is populated from the metadata, which is ingested against the project where the GKE cluster is running.
You may have better luck with the [new Kubernetes monitoring experience](https://cloud.google.com/monitoring/kubernetes-engine/), which uses names instead of ids in resource labels.

[2019-02-01 20:01] #288 closed

[2019-02-09 23:44] jbuck opened #291 "Feature request: Preserve time key inside jsonPayload"
Hi there, I am using the Stackdriver Logging agent in AWS. I have a service running in a docker container that logs events with a `time` key. For example:

`{"event": "amplitudeEvent", time: "1549747084286", ...}`

The event arrives in Stackdriver Logging successfully, but it's always missing the `time` key inside `jsonPayload`. The `timestamp` key has the correct ISO8601 timestamp though. After l

[2019-02-19 18:12] sjoeboo commented on #288
I'd like to re-open this, as using a service account (homed  in another project, not the same proejct as the GKE cluster) to write logs, even logs written to the same project as the GKE cluster where the daemonset running fluentd collects logs, I'm loosing namespace_name in the Stackdriver drop-down.

So:

GKE logs in "gke-project" -> fluentd -> "gke-project" stackdriver == namespace_name lost
GKE

[2019-02-19 18:19] igorpeshansky commented on #288
It's not quite clear from your explanation (I don't understand what "$other_project(s) stackdriver" refers to), but I suspect it's the same issue. For the metadata to be present, the logs must be written against the project where the resources are running, not the project where the service account lives. By default, the agent will pick up the project from the service account credentials, as that's

[2019-02-19 20:09] sjoeboo commented on #288
Sorry, i wasn't clear, by $other_projects, i just meant, any other project i happened to be re-directing logs to.

That all being said, i think i fixed this myself, i was using the k8s meteadata filter to pre-populate some labels/fields (https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter) which seemed to be the cause (as soon as I went back to letting the google-cloud output plu

[2019-02-20 08:52] letusfly85 opened #295 "Dropping 2 log message(s) error="User unauthorized to access"
The environment is the following.

What does `User unauthorized` mean?

I use a service account json file, it includes enough permissions.

- https://cloud.google.com/monitoring/agent/install-agent?&_ga=2.63513450.-4587457.1550637762#create-private-key

### settings

[code]

[code]

### errors

- I start up containers, and after a few seconds later, access to the nginx by `curl`
- And I got errors

[2019-02-25 16:08] igorpeshansky commented on #233
There is a depth limit on structured messages that can be sent to the logging API (about 30). Unfortunately, the only solution at the moment is to reduce the nesting limit of the JSON messages in your logs.

[2019-02-25 16:08] #233 closed

[2019-02-25 23:39] igorpeshansky commented on #231
Looks like the fluentd issue mentioned invalid timestamps. Can you please check that the JSON entries you produce actually have valid timestamps in them? If not, the backend will reject the entries, and they'll be dropped by the plugin.

[2019-03-16 02:15] tsu1980 commented on #295
I'm facing same error.
I added 2 roles that you pointed(`Monitoring > Monitoring Metric Writer` and `Logging > Logs Writer`) to my service account. then its working correctly. thank you for your info.

[2019-04-09 14:42] memory opened #304 "unexpected interaction between tag wildcards and filenames with underscores"
We are attempting to use the k8s.gcr.io/fluentd-gcp:2.1.0 container as a sidecar to our neo4j StatefulSet pods to forward neo4j metric logs to stackdriver, and are running into inconsistent behavior generating the logName attribute of the logged events.

First, some quick background.  Neo4j is a clustered graph database that supports exporting system metrics via either direct export to graphite/pr

[2019-04-09 17:53] igorpeshansky commented on #304
A couple of notes:
- The image you're attempting to use is deprecated. The latest agent image is gcr.io/stackdriver-agents/stackdriver-logging-agent:1.6.6 .
- This is WAI. The fluentd-gcp image is designed to be used as a DaemonSet in GKE for ingesting container logs. It is not designed to be used as a sidecar. So your use case is unsupported.
I'm glad you got it working with a hack, but we cannot

[2019-04-09 17:53] #304 closed

[2019-04-09 19:29] memory commented on #304
Hey Igor--

Fair enough, but https://kubernetes.io/docs/concepts/cluster-administration/logging/#sidecar-container-with-a-logging-agent explicitly points at `k8s.gcr.io/fluentd-gcp` as something that an end user should employ as a sidecar container for arbitrary apps, so at a minimum someone should update that.

Additionally, this plugin is [specifically pointed to by the fluentd documentation](ht

[2019-04-09 19:44] igorpeshansky commented on #304
Ah, I see what's happening here. This plugin is indeed the official and supported way to ingest logs into Stackdriver. It also has special baked-in behavior that recognizes GKE deployments to support legacy use cases, which uses `kubernetes_tag_regexp` to extract the legacy `gke_container` monitored resource info. This is what you're hitting. We will take that behavior out once [Stackdriver GKE v2

[2019-04-30 05:05] sebright opened #307 "Inconsistency in naming of special field for trace sampling decision"
I noticed that the special field for the trace sampling decision uses underscores ([`logging.googleapis.com/trace_sampled`](https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blob/c90817481bb882858483822371b2c702e507cb59/lib/fluent/plugin/out_google_cloud.rb#L156)), but other special fields use camel case (e.g., `logging.googleapis.com/spanId`, `logging.googleapis.com/sourceLocation

[2019-04-30 16:00] qingling128 commented on #307
Hmm... That is not intended. Thanks for the heads up! We'll fix it in the next major release (since it would introduce some backward incompatible change).

[2019-04-30 18:37] igorpeshansky commented on #307
Could we not support both and deprecate the one with the underscore?

[2019-04-30 18:39] qingling128 commented on #307
@igorpeshansky - Like supporting both but having `logging.googleapis.com/traceSampled` taking precedence of `logging.googleapis.com/trace_sampled`? That sounds reasonable to me, too.

[2019-05-15 06:18] evmin02 commented on #259
This is a shame. As it used to work before (plugin version version 0.5.2).

[2019-05-15 14:09] igorpeshansky commented on #259
@evmin02, the on-prem use case was never officially supported by the plugin. v0.5.2 is nearly 3 years old and used a deprecated (v1) API. It ended up conjuring values out of thin air when those values were not available from the environment, which made it appear to work, but only if you didn't care about resource attribution for your logs.
This hacky way is still technically possible (just overrid

[2019-05-19 10:30] aclowkey opened #312 "Setting logName"
I have a record with logName specified in the jsonPayload, but it's has:
 **"projects/<project>/logs/journald"**.
Is this supported?

[2019-05-28 18:43] AlexandreProenca commented on #156
@bryanlarsen works for me, thanks!.

[2019-05-31 19:07] xinghusc commented on #264
Does this still hold true?

[2019-06-11 04:37] apu1111 commented on #136
@qingling128 @igorpeshansky
Any update/timeline for this? I am particularly interested for the multi-worker support.

[2019-06-11 05:32] qingling128 commented on #136
@apu1111 - Thanks for checking! The `fluent-plugin-google-cloud` output plugin itself already supports multi-worker: https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blob/975357e659a519bfefece1ea2d2ce7791cc1c00d/lib/fluent/plugin/out_google_cloud.rb#L716

As to the next major release cut, it is being evaluated / prioritized in the roadmap now. We are not sure how soon it would be

[2019-06-11 17:57] qingling128 commented on #164
With other blockers resolved, we were able to make the flip: https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/pull/296

[2019-06-11 17:57] #164 closed

[2019-06-12 07:33] apu1111 commented on #136
@qingling128 - Thanks for the info. We wanted to upgrade to fluentd 1.4 to use `<worker N-M>` directive. Anyway will wait for the next major release.

[2019-06-12 20:49] igorpeshansky commented on #276
This plugin already [supports](https://cloud.google.com/logging/docs/agent/configuration#special-fields) the `httpRequest` key in the payload that will be ingested into the `LogEntry`'s `httpRequest` field. So if the underlying system is already emitting this information into the logs, the request would be to parse out the `remoteIp` and other `HttpRequest` bits while ingesting those logs via the

[2019-06-12 20:49] #276 closed

[2019-07-11 18:37] kardianos commented on #167
I'm also surprised by this. I have a simple container running directly on a COS image on GCE. My container is built in Go and hardly moves the CPU when not in use. The `google-fluentd` process (and the ruby runtime) take up 35% of my CPU, when the system is completely idle otherwise.

Can this process/container be re-written in C or Go?

[2019-07-11 19:47] igorpeshansky commented on #167
It's not really about Ruby. COS is not well supported by the logging agent. The version it uses is actually fairly old, as I recall. We will work with the COS team to update it.

[2019-07-15 10:39] wiktor2200 opened #328 "Severity translation information -> info"
Added misc. severity translation information/info to enable getting logs from for exp. `ClickHouseDB`.

I've created pull-request which solve this issue: #327

[2019-07-22 22:41] igorpeshansky commented on #89
This is blocked by #211.

[2019-07-24 10:22] cakrit commented on #167
I really don't get what this software is trying to do. I disabled all log ingestion as shown below, when I noticed the 3.69 TiB of data ingested:

![Screenshot from 2019-07-24 12-10-36](https://user-images.githubusercontent.com/43294513/61785843-d2bdb780-ae0c-11e9-8bb2-89edf85713c1.png)

The fluentd's container cpu usage fell for about an hour from the constant high cpu usage (around 90% of the co

[2019-07-24 12:11] cakrit commented on #167
Things look much better after the upgrade to `1.13.7-gke.8`. Still seeing some relatively constant CPU usage (as others have already reported) and surprisingly large memory usage, but it's really nothing compared to what I was seeing before. It's been running as shown below for a couple of hours. My hypothesis is that disabling logging via the cloud console didn't quite work before and that the up

[2019-07-25 02:36] kardianos commented on #167
@cakrit Thank you for looking into this. The CPU in the graphs do look much improved.

The memory graph is still comparatively high just to ship logs. For any node size smaller then an n1-standard, f1 or g1, this amount of memory is still significant to ship logs. Maybe I'll write something up that watches the container and machine logs and pushes them up to stackdriver.

[2019-07-25 06:55] cakrit commented on #167
Thanks @kardianos, but my main point is that the state you see in the last charts is *without* shipping any logs, except for what can't be disabled via the Google cloud console. Logging is disabled as you see in https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/issues/167#issuecomment-514574350

[2019-07-25 12:45] igorpeshansky commented on #167
@cakrit, how exactly did you disable log ingestion? The logging agent on COS should ingest logs against the GCE instance resource. Looks like there are some log exclusions set up for that resource, but log exclusions don't prevent the agent from sending the logs — exclusions are processed on the server when the logs are received.
You can look at the log ingestion rate for a specific monitored reso

[2019-07-25 15:21] cakrit commented on #167
I disabled them just via Stackdriver logging -> Logs ingestion, essentially what you see in the screenshot.

I clicked on Stackdriver monitoring multiple times, to look for the metrics you mentioned, but I keep getting a DEADLINE_EXCEEDED error that I'm not going to be able to look into. Is there perhaps a `/metrics` endpoint or something else I could possibly access directly, without relying on G

[2019-07-25 15:59] igorpeshansky commented on #167
If you've used the "Disable log source" pulldown menu item, you've only set up a [logs exclusion](https://cloud.google.com/logging/docs/exclusions) in your project. That means the API will drop those logs if they are ever sent to it. Your agent is still sending logs.

The metric I referenced (logging.googleapis.com/excluded_byte_count) will show you how much data is being sent and dropped. Because

[2019-07-25 16:41] cakrit commented on #167
Not a very user-friendly API :)
It's fine though, what you've said makes sense.

[2019-07-25 17:28] igorpeshansky commented on #167
The API was never intended to be queried by human users directly — that's what the UI is for. :-) I simply suggested the API as a workaround for your UI issues. I do encourage you to file feedback from the UI on the DEADLINE_EXCEEDED errors, or send email to google-stackdriver-discussion@googlegroups.com about them, rather than suffering silently (or grumbling).

[2019-07-30 16:37] bvandewalle commented on #231
there should be at least SOME indication somewhere that Stackdriver is rejecting it. (or in Stackdriver or in Fluentd)
It makes debugging super complex to not have any indication that the logs weren't accepted by the backend.

[2019-07-30 19:27] jkohen commented on #88
@nyilmaz can you show what you see and what you'd expect to see? I'm not sure I understand the issue.

[2019-07-30 20:57] jkohen commented on #72
Thanks for of you for suggestion a solution. I'm glad it got worked out.

[2019-07-30 20:57] #72 closed

[2019-07-30 21:04] jkohen commented on #96
This bug is now almost 3 years old and a suggestion has been given. If you still need help, please reopen.

[2019-07-30 21:04] #96 closed

[2019-07-30 21:08] jkohen commented on #136
@qingling128 can you please triage? What value that this provide?

[2019-07-30 21:09] jkohen commented on #282
@qingling128 can you please triage? What value does this provide?

[2019-07-30 21:10] jkohen commented on #157
This is an old issue, so closing. Please reopen if you still need help with this particular problem.

[2019-07-30 21:10] #157 closed

[2019-07-30 21:11] jkohen commented on #113
I'm glad the issue was solved. Closing now.

[2019-07-30 21:11] #113 closed

[2019-07-30 21:13] jkohen commented on #211
@igorpeshansky can you please take a look? It seems you last investigated an issue connected with this.

[2019-07-30 21:17] jkohen commented on #156
I'm glad you found a solution that works for you. I'll close this ticket because the plugin meets our design goals.

[2019-07-30 21:17] #156 closed

[2019-07-30 21:18] jkohen commented on #193
@qingling128 is there anything left to do  here?

[2019-07-30 21:19] jkohen commented on #312
@aclowkey can you give us more information? What do you expect to happen and what is happening instead?

[2019-07-30 21:21] qingling128 commented on #136
@jkohen The values of this migration is described here: https://gist.github.com/okkez/05ee6af7b8bb7de852a36eb2f679c344.

We have to cut a major release for this though, which we already agreed to do. It's a matter of prioritization.

[2019-07-30 21:35] jkohen commented on #136
Are any of the "pros" listed there and the migration itself particularly valuable for Stackdriver users in order to justify doing the migration sooner? It sounds like no, so just confirming. If that's the case, we should close this ticket.

[2019-07-31 03:53] aclowkey commented on #312
I was expecting that having `logName` in the payload would change that logname, but it didnt'
Later I figured out that it uses the fluentd tag as the log name

[2019-07-31 03:53] #312 closed

[2019-07-31 13:12] jkohen commented on #312
The relevant documentation is at:
https://cloud.google.com/logging/docs/agent/default-logs
https://cloud.google.com/logging/docs/agent/configuration#configure

I don't see a direct answer to your question. It will depend on what set of configurations you're using, which also may vary according to environment (e.g. Compute Engine vs. Kubernetes Engine).

[2019-07-31 13:44] aclowkey commented on #312
It's pretty direct.
The logname will be the the tag name which is passed to the output filter..

[2019-07-31 15:19] jkohen commented on #51
@igorpeshansky can you see if there's something left to do.

[2019-07-31 15:21] jkohen commented on #91
@igorpeshansky can you triage? On the surface it seems related to https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/issues/51

[2019-07-31 15:24] jkohen commented on #270
@qingling128 you've investigated logrotate issues. Could you look into this one as well?

[2019-07-31 17:58] qingling128 commented on #312
Yeah, it's documented in this section: https://cloud.google.com/logging/docs/agent/configuration#default_configuration.

[code]

[2019-07-31 18:53] jkohen commented on #307
@qingling128 I'm assuming the work left is to is just a cleanup. Let's make sure it gets tracked if it's necessary.

[2019-07-31 19:40] jkohen commented on #101
Thanks for the patch, and sorry for the delay. I'll go ahead and try it.

[2019-07-31 19:48] jkohen commented on #23
@igorpeshansky this seems serious, though it may no longer apply. I know you've been looking at tests. Can you please triage this issue?

[2019-07-31 19:49] jkohen commented on #67
Let's reopen if necessary to meet performance goals.

[2019-07-31 19:49] #67 closed

[2019-07-31 20:08] jkohen commented on #102
@qingling128 can you please triage this issue?

[2019-07-31 20:14] jkohen commented on #155
Closing old report, where workaround was provided.

[2019-07-31 20:14] #155 closed

[2019-07-31 20:15] jkohen commented on #264
Thanks for providing a workaround. I'll go ahead and close this issue.

[2019-07-31 20:15] #264 closed

[2019-07-31 20:16] jkohen commented on #234
@yinzhi7 can you please take a look at this issue? Apparently we've solved it in the past, but it came back.

[2019-07-31 20:20] jkohen commented on #328
Seems connected to https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/issues/51

[2019-07-31 20:22] jkohen commented on #56
Seems connected to https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/issues/51 or even a duplicate

[2019-07-31 20:23] jkohen commented on #24
Unclear what the action is, but it seems ancient.

[2019-07-31 20:23] #24 closed

[2019-07-31 20:25] jkohen commented on #4
@qingling128  Is there any action left in this issue?

[2019-07-31 20:30] wiktor2200 commented on #328
Now there is a lot of abbreviations for different severity hard coded. `Information` was missing. I solved this problem in pull-request: #327 but it needs review and approval :)
#51 is far more complicated feature :)

[2019-07-31 21:22] jkohen commented on #284
Hi, thanks for the a feature request. This seems to be a feature specific to Google Kubernetes Engine. We don't control how the plugin is deployed, please file a feature request on the Google Kubernetes Engine console, or through your account manager if you have one.

[2019-07-31 21:22] #284 closed

[2019-07-31 21:29] jkohen commented on #295
I'm glad you were able to solve the issue. For future reference, this is covered in our documentation at https://cloud.google.com/logging/docs/agent/authorization#create-service-account

[2019-07-31 21:30] #295 closed

[2019-08-01 21:47] yinzhi7 commented on #234
@nacholopez
Is this still an issue to you? I followed below. The permissions look fine. Attached below

Installing the [Stackdriver Logging agent](https://cloud.google.com/logging/docs/agent/installation#joint-install).

/opt/google-fluentd/embedded/lib/ruby/gems/2.5.0/gems/fluent-plugin-google-cloud-0.7.15/lib/fluent/plugin$ ls -lrt
total 104
-rw-r--r-- 1 root root  1024 Jul  4 10:29 statusz.rb
-

[2019-08-02 12:31] #101 closed

[2019-08-02 21:44] qingling128 commented on #102
Trimming can be done with something like below. We are doing this for GKE.

[code]

[2019-08-02 21:44] #102 closed

[2019-08-02 21:48] qingling128 commented on #79
This can be achieved by setting `partial_success true`. See doc at https://cloud.google.com/logging/docs/agent/configuration#cloud-fluentd-config.

[2019-08-02 21:48] #79 closed

[2019-08-02 21:49] qingling128 commented on #307
Yes, this is already tracked in the major release cut change list.

[2019-08-02 21:50] qingling128 commented on #167
Mystery solved. Closing this.

[2019-08-02 21:50] #167 closed

[2019-08-02 22:00] qingling128 commented on #4
Yes, we have not yet implemented this feature.

[2019-08-02 22:14] qingling128 commented on #291
This sounds like a feature request.

One workaround to keep a time field in the JSON:
[code]

This will add a `time_field` (or any other field name that is not `time`) to the JSON and it will not be removed.

Alternatively, the feature request in https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/issues/4 should help with this use case (aka set the `time_key` to something else).

[2019-08-05 10:50] nacholopez commented on #234
Thanks @yinzhi7 for checking.

This issue seems fixed and I can no longer reproduce:
[code]

[2019-08-05 10:50] #234 closed

[2019-08-05 13:34] jkohen commented on #4
@qingling128  Do we still need it? It was filed over 4 years ago.

[2019-08-05 15:41] qingling128 commented on #291
Followup work would be tracked in https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/issues/4. Closing this for now. Let us know if there is any problem applying the workaround.

[2019-08-05 15:41] #291 closed

[2019-08-05 15:52] qingling128 commented on #4
We discussed about adding and switching these field names to be prefixed with `logging.googleapis.com` for consistency as the [other fields](https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blob/master/lib/fluent/plugin/out_google_cloud.rb#L144). It can only be done in a major release though. We have an internal tracker for this in the major release cut doc.

[2019-08-05 21:54] igorpeshansky commented on #270
This is a duplicate of GoogleCloudPlatform/google-fluentd#142.

[2019-08-05 21:54] #270 closed

[2019-08-09 18:14] qingling128 commented on #282
This is done by https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/pull/310.

[2019-08-09 18:14] #282 closed

[2019-08-10 21:39] adamlukaszczyk commented on #156
@jkohen Could you mention in the Documentation about this configuration changes suggested by @bryanlarsen. It will help a lot others ;) 👍

[2019-08-12 18:48] jkohen commented on #287
@sjoeboo thanks for clarifying the use case. You did the right thing by raising this as part of multi-tenant GKE cluster with your Google contacts, as we have heard from them :-) We will prioritize our work on fluentd accordingly.

In the meantime, I'm going to close this ticket as we provided a workaround based on the current capabilities of the agent. Keep it coming!

[2019-08-12 18:48] #287 closed

[2019-08-12 18:59] jkohen commented on #88
Given that this is an old issue and I haven't heard back from you in two weeks, I'm going to close it. Feel free to reopen it in the future if you still need it.

[2019-08-12 18:59] #88 closed

[2019-08-12 22:51] igorpeshansky commented on #88
This is not how JSON detection works. For a list of special fields recognized by the agent and how they are propagated into the resulting log entry, see https://cloud.google.com/logging/docs/agent/configuration#process-payload.

[2019-08-13 14:14] jkohen commented on #88
@nyilmaz please let me know if @igorpeshansky 's suggestion helped. If you still need assistance with this issue, please reopen it.

[2019-08-13 21:56] knlambert opened #334 "Stackdriver agent use depreciated metrics in GKE"
I'm trying to apply[ this method ](https://kubernetes.io/docs/concepts/cluster-administration/logging/#using-a-sidecar-container-with-the-logging-agent)on a GKE private cluster running on the version 1.12.7, with Stackdriver Kubernetes Engine Monitoring enabled.

For that, I have a pod containing the fluentd agent configured this way :

[code]

But the agent keeps pushing metrics with a depreciate

[2019-08-14 00:57] igorpeshansky commented on #334
Looks like you're trying the "sidecar container writes directly to Stackdriver" approach. While it's possible to get that to work, it's cumbersome and requires a lot of know-how into how the Stackdriver logging agent is set up.

It would be a lot easier to use the stdout approach, where your sidecar simply tails the log to its stdout, and the standard Stackdriver logging agent setup picks it up.

[2019-08-14 00:57] #334 closed

[2019-08-14 13:17] knlambert commented on #334
Hello,

Sorry I should have been more specific :

My issue with your approach is that GKE push all the metrics into the same Stackdriver (the one in the same GKE project), and that's why I'm not using it.

This is a shared cluster. We have many teams using it, and the team 1 can't see the logs from the team 2 since it can contain sensitive informations.

The only solution we found to use stackdriv

[2019-08-14 22:28] igorpeshansky commented on #334
Yes, logging from shared clusters is a known feature request. Unfortunately, I don't have any timelines to share at the moment. As of today, your use case is unsupported. You may get it working, but we won't be able to help you if it breaks.

Your best bet for getting this working would be to copy the full fluentd configuration from the new Stackdriver setup. You'll want all the filters, transform

[2019-08-20 18:37] luckoseabraham commented on #156
I have a PKS cluster and I have followed the above steps and the logs are coming in the stackdriver under the GCE Compute section.
Are there additional steps needed to push these logs to kubernetes cluster group ?

[2019-08-26 21:56] #231 closed, assigned to igorpeshansky

[2019-09-05 17:12] simonz130 opened #339 "broken link in readme"
http://docs.fluentd.org/articles/output-plugin-overview leads anywhere

[2019-09-05 19:44] #339 closed

[2019-10-01 00:10] toniree commented on #4
This also happens (log level not being captured) for Google Compute Engine running Docker images. Is the fluentd configuration the way to go in my case as well?

[2019-10-03 01:41] qingling128 commented on #4
@toniree Yes, that's the workaround for now.

[2019-10-20 20:42] emillg opened #348 "Support sending logs from other Cloud to Stackdriver?"
Can I use this plugin to send logs from non-GCP/AWS cloud to Stackdriver? If yes, any documentation?

Thanks!

[2019-10-20 21:04] igorpeshansky commented on #348
Yes, we do currently support sending logs from AWS EC2 VMs, but only via the `google-,fluentd` package, see https://cloud.google.com/logging/docs/agent/#environments. Please file feedback on the documentation if you find something lacking.

[2019-10-20 21:04] #348 closed

[2019-10-20 21:17] emillg commented on #348
Hi,

I was wondering if I can send logs from IBM Cloud to Stackdriver? Thanks

[2019-10-20 21:47] igorpeshansky commented on #348
Oh. Apologies, I missed the `/` in your original question.

No, this plugin currently does not support sending logs from other clouds. We are partnering with a company called "Blue Medora", who allow sending logs into Stackdriver from environments that aren't natively supported. Please see if their [BindPlane product](https://bluemedora.com/products/bindplane/) addresses your needs.

[2019-10-21 07:06] emillg commented on #348
@igorpeshansky Thanks for the info!

[2019-10-29 16:12] voidpirate opened #350 "Add support for dynamically setting log_name from record"
When running on GKE the logName is always set to the tag (by default stdout/stderr), thus making it difficult to customize the logName dynamically per application or even different logNames within a single application.

The fluentd DaemonSet installation used: https://github.com/GoogleCloudPlatform/kubernetes-engine-customize-fluentd/tree/master/kubernetes.

I see two possible ways to dynamically

[2019-10-29 16:55] #350 closed

[2019-11-05 23:45] smacpher-myst commented on #211
Hi, is there any update on when we can expect this change? Thanks.

[2019-11-06 15:29] voidpirate commented on #350
We are currently in the process of migrating services from GAE to GKE. GAE Stackdriver log viewer is grouping the log entries from the same HTTP request together under a single drop down, see image below for context taken from [this blog](https://medium.com/google-cloud/combining-correlated-log-lines-in-google-stackdriver-dd23284aeb29), as I'm unable to share our exact logs.
![image](https://user-

[2019-11-06 22:05] igorpeshansky commented on #350
Ah, so this is about grouping by HTTP request... Have you seen https://cloud.google.com/logging/docs/structured-logging#apache-config and https://cloud.google.com/appengine/docs/flexible/dotnet/writing-application-logs#related-app-logs? You can store the trace id in the logs via a [special payload field](https://cloud.google.com/logging/docs/agent/configuration#special-fields).

[2019-11-22 11:48] chetan-happyness commented on #157
Hi @jkohen  I m having saving same issue, need help
 google-fluentd.service - LSB: data collector for Treasure Data
   Loaded: loaded (/etc/init.d/google-fluentd; generated)
  Process: 19737 ExecStart=/etc/init.d/google-fluentd start (code=exited, status=1/FAILURE)
Nov 22 10:55:59 ip-172-31-45-41 google-fluentd[19737]:         from /usr/sbin/google-fluentd:7:in `load'
Nov 22 10:55:59 ip-172-31-45-

[2019-11-22 11:54] chetan-happyness commented on #157
Having same issue on aws ubuntu instance (18.04)

`
 google-fluentd.service - LSB: data collector for Treasure Data
   Loaded: loaded (/etc/init.d/google-fluentd; generated)
  Process: 19737 ExecStart=/etc/init.d/google-fluentd start (code=exited, status=1/FAILURE)
Nov 22 10:55:59 ip-172-31-45-41 google-fluentd[19737]:         from /usr/sbin/google-fluentd:7:in `load'
Nov 22 10:55:59 ip-172-31-45-

[2019-11-22 16:06] jkohen commented on #157
@chetan-happyness please open a new issue and add enough details so we can assist you. If it's available to you, you should use the Google Cloud Support channel, who work with us to give you the best support experience.

[2019-11-25 06:45] chetan-happyness opened #359 "Failed to start LSB: data collector for Treasure Data."
Command to install logging agent failed   - sudo bash install-logging-agent.sh

[code]

[code]

[2019-11-25 14:37] igorpeshansky commented on #359
Looks like some gem failed to load, but, unfortunately, the log you quoted has cut off the actual exception message. Can you please look at the output of `journalctl -xe` right after the failure? Also, is this on a GCE VM?

[2019-11-26 10:56] chetan-happyness commented on #359
I m using aws ec2 ubuntu instance

[code]

[2019-11-26 15:07] igorpeshansky commented on #359
This stack trace is cut off horizontally, plus it doesn't quite look like the same error (and the google-fluentd pid is different). This particular one is a failure to load the service account credentials; see our [troubleshooting documentation](https://cloud.google.com/logging/docs/agent/troubleshooting#verify-key).

If you manage to reproduce the original error (e.g., by uninstalling and attempt

[2019-11-26 15:47] medb commented on #359
We are seeing the same issue on Debian 9 VMs:
[code]

[2019-11-26 16:43] igorpeshansky commented on #359
@medb Yes, please. There are many reasons why the agent might fail to start, and it's best to keep track of separate investigations in separate issues. If we discover that they are failing for the same reasons, we can always dupe them to one another.

[2019-11-29 10:00] chetan-happyness commented on #359
output of  journalctl -xe

[code]

[2019-11-29 11:15] chetan-happyness commented on #359
@igorpeshansky , thanks for your response. I was able to fix the installation issue after adding the credential file (application_default_credentials.json).

[2019-11-29 11:15] #359 closed

[2019-11-29 19:07] igorpeshansky commented on #359
Great, I'm glad the full exception message helped resolve this.

[2020-01-09 13:24] sneko opened #364 "Warning "this cannot include CR/LF""
Hi,

I just upgraded the operator to 1.11.0 and I get those warnings
[code]

Do you know what could be the origin? It seems indeed a `\n` char is in the User-Agent, but no one else seems to have that.

Thank you,

Note: I have this kind of settings:
[code]

[2020-01-09 13:49] igorpeshansky commented on #364
Looking at the version string (`Fluentd Google Cloud Logging plugin/0.4.10`), 0.4.10 is ancient (from back in 2015). That would be the first issue to fix.

I don't know what operator you're using, but a bit more detail about your environment would be helpful.

Note that version 0.4.10 also didn't support grpc yet, as evidenced by the "google-api-ruby-client" in the version string.

[2020-01-09 14:19] sneko commented on #364
Oh my bad... I'm using the VMware operator and you're right. In their README.md (https://github.com/vmware/kube-fluentd-operator) they indeed precise the `fluent-plugin-google-cloud` version at 0.4.10

Weird no one mentioned that before! I will ask them to update or patch it manually.

Thank you,

[2020-01-09 14:19] #364 closed

[2020-01-10 15:29] sneko commented on #364
Hi @igorpeshansky , I succeeded in patching the image (not easy I got into other troubles...). I'm noticing all logs with the `stream` property have it set to `stderr` even for logs content equal to TRACE/DEBUG/INFO.

Do you know if there is something special to configure? That's strange 🤔

[2020-01-10 17:05] sneko commented on #364
@igorpeshansky please find some information from the maintainer of the operator what is blocking from `fluent-plugin-google-cloud` dependency requirements https://github.com/vmware/kube-fluentd-operator/issues/96#issuecomment-573110253

[2020-02-03 04:46] kanjieater commented on #220
Is there any public resolution on this?

[2020-02-03 13:10] igorpeshansky commented on #220
Unless I'm missing something, this is publicly documented [here](https://cloud.google.com/logging/docs/view/overview#custom-fields).

[2020-02-15 17:15] owaranaidobby opened #370 "generic node support on Stackdriver Logging"
I hope fluent-plugin-google-cloud to support `generic_node`. Of course, I know BindPlane meets some of these requirements. However, BindPlane is not flexible enough. For example, the functions (labels or output options, etc) of the Stackdriver Logging API cannot be fully used. Fluentd itself cannot be extended.
Stackdriver officially has a resource type `generic_node`, so I'm glad if you can offic

[2020-02-20 14:22] IRus opened #374 "Monitoring container leaks memory"
COS Image: cos-stable-79-12607-80-0
Machine Type: n1-highcpu-2

I running standard GCE VM with COS image, I found out that fluentd eats a lot of RAM without any load on logging (application running in sbx environment, and have just a small amount of startup logs at moment that this behavior discovered)

I logged to instance and check `top -auxf`:

[top.txt](https://github.com/GoogleCloudPlatform/f

[2020-02-20 14:59] IRus commented on #374
Not sure how this possible, `docker stats` at the same time shows very different numbers:
[code]

[2020-03-03 15:41] sconstable commented on #374
I have just seen an issue with out of control memory usage by fluentd on an ubuntu 18.04 VM.  Caused our postgres server to run out of memory. fluentd was using 50% of RAM and 100% CPU according to htop.

[2020-03-22 05:04] arunsr2015 opened #385 "After Log rotate google fluentd does process is not running"
Hi
1. I have noticed sometimes after the google-fluentd.log file is rotated , google-fluent process does not start and i see a file
-rw-r-----  1 google-fluentd root 0  Mar 22 04:59 google-fluentd.log

This is the logrotate file

`/var/log/google-fluentd/google-fluentd.log {
  daily
  rotate 30
  compress
  delaycompress
  notifempty
  create 640 google-fluentd google-fluentd
  sharedscripts
  pos

[2020-04-10 22:51] bvandewalle opened #393 "Google-fluentd stopped flushing logs to stackdriver (on April 8th)"
on a bunch of GCP instances, we discovered that google-fluentd stopped sending logs to Stackdriver on April 8th (possibly after this outage? https://status.cloud.google.com/incident/zall/20005)

Logging on the nodes and tailing the logs shows the following error:

[code]

here is the stacktrace:
[code]

Restarting fluentd seems to make it work again. Any idea how can we prevent this from happening

[2020-04-11 01:57] igorpeshansky commented on #393
This is indeed related to the outage you quoted. As far as we could see, the gRPC libraries get stuck when unable to process API authentication (because of some cache), and restarting the process is the only way to reset the cache. We are trying to reproduce in our test environment and investigate, but so far no luck.

[2020-04-14 14:07] nesl247 commented on #4
Is there an update on this? Logging should not be such a horrendous experience on GKE.

[2020-05-07 09:14] jakobsvenning opened #395 "Problems when ingesting logs with "time" field."
I have encountered a problem when trying to ingest logs with the "time" field specified. For instance, when I try to ingest the log specified in the code snippet below; nothing appears in Google Cloud Logger.

[code]

However, if I run the following ruby snippet to extract the second and nano second component from the timestamp from the log above:

[code]

and supply the second and nanosecond comp

[2020-05-27 19:09] cablehead commented on #393
Adding a data point. We also encounter this traceback maybe once or twice every other month.

Most recent occurrence is  `2020-05-27 17:00:26 +0000`

[code]

Once google-fluentd encounters this traceback, the process stays up (so the pod won't restart), but no longer forwards any logs. A restart fixes the issue.

[2020-06-04 18:21] mahesh-bennie opened #401 "Structured logging via StdOut/StdErr does not seem to show up in stackdriver for App Engine Flexible"
I have a dotnet core (3.1) api running on a GAE Flex VM. I have been following the samples in this documentation (https://cloud.google.com/run/docs/logging#writing_structured_logs) and this is what I had come up with:
[code]
Where StructuredLog is a simple POCO:
[code]
I then hook this class (that contains said method) as an ILogger and via loggerfactory at startup use it in various place via DI l

[2020-06-04 20:42] igorpeshansky commented on #211
Closed via #333.

[2020-06-04 20:42] #211 closed

[2020-06-04 20:55] igorpeshansky commented on #401
As you've discovered, logs in App Engine Flexible are handled by the Stackdriver logging agent, and the structure it expects is documented in https://cloud.google.com/logging/docs/agent/configuration#process-payload. If text logs end up in Cloud Logging, but structured logs don't, you might be able to see some messages in the logs from the logging agent container. @yanweiguo might be able to offer

[2020-06-04 21:07] yanweiguo commented on #401
cc @Sanrag

[2020-06-04 21:55] mahesh-bennie commented on #401
@igorpeshansky hey thanks for responding. That JsonConvert.SerializeObject just translates the object to a string (I literally copied and pasted that example payload while debugging). I tried using Console.Write after reading one of your comments https://github.com/GoogleCloudPlatform/appengine-sidecars-docker/pull/81#issuecomment-364108839
as WriteLine adds a line terminator but still didn't work

[2020-06-04 22:00] mahesh-bennie commented on #401
And I just read deeper into that SO responses and saw @yanweiguo respond to it a while back. Does this mean there's currently a showstopper on GAE Flex that prevents us from using StdOut/StdErr? Only reason we're hesitant to using the client library is because it introduces lag and we really want our traces to be as accurate as possible with regards to latency and not having to worry about extrane

[2020-06-04 22:52] yanweiguo commented on #401
Hi @mahesh-bennie, when did you deploy your app? The `Unable to export` logs issue should be fixed months ago.

Flex flex supports structure logs. I just deployed a Python app which sends the same log to stdout:
[code]

The `Begin logging...` part showed up in cloud logging.

I'd suggest ssh into the Flex VM instance and check what the logs look like which your app send to stdout/stderr. You can u

[2020-06-04 23:33] mahesh-bennie commented on #401
@yanweiguo we deploy the app almost everyday across our environments (dev,stage,prod)
Yeah the documentation clearly indicates as such as well, which is why I'm confused why it's not showing up.
I did ssh into the instance as you suggested and after running the command, the only logs I see are the unstructured logs (simple one liner strings that show up as textpayload on the Stackdriver UI).

[2020-06-04 23:59] yanweiguo commented on #401
Then the problem is that somehow the structured log was not sent to stdout. Did you see it from `docker logs` command? If not, I'd suggest debugging the way how you send logs. (I'm not familiar with dotnet)

[2020-06-05 13:43] mahesh-bennie commented on #401
Yup that definitely was the case. There was a configuration that disables any loglevels under warning from being sent over the streams. Figured it out after testing out with different log levels.
tl;dr; bad config issue.
Thank you guys for your patience and guidance! Closing this now.

[2020-06-05 13:43] #401 closed

[2020-06-23 11:44] lechen26 opened #407 "Fluentd log full with ERROR after upgrading to GKE 1.16"
Hi

after GKE 1.16 upgrade, i've started to see 2 things:
- the log is full with the following message:
`Unable to export to Monitoring service because: GaxError RPC failed, caused by 3:One or more TimeSeries could not be written: Unrecognized resource type: container.: timeSeries[0]`

any idea?
thanks

[2020-06-23 12:07] lechen26 opened #408 "fluentd keeps crashing on GKE 1.16"
Hi

i have GKE 1.16 cluster and looks like from time to time, on number of nodes the fluentd keeps crashing, with the following error:

[code]
is it a known issue?

[2020-06-23 14:24] igorpeshansky commented on #407
Hi. Known issue. The fix is being rolled out, and will be available in version 1.16.9-gke.6.

[2020-06-23 14:24] #407 closed

[2020-06-23 14:35] igorpeshansky commented on #408
Duplicate of GoogleCloudPlatform/google-fluentd#269.

[2020-06-23 14:35] #408 closed

[2020-07-06 16:23] igorpeshansky commented on #393
Update: this is fixed by grpc/grpc#19756 and grpc/grpc#23333. We have to wait until those fixes appear in the next gRPC release before we can pick them up for the `google-fluentd` package.

[2020-07-09 00:14] igorpeshansky commented on #393
The fixes are backported to gRPC [1.30.1](https://github.com/grpc/grpc/releases/tag/v1.30.1).

[2020-07-09 18:33] #393 closed

[2020-07-17 17:25] smstone opened #413 "Pinning of specific FluentD version"
Hello,

We would like to run the current latest version of FluentD (1.11.1) with this plugin, however a strict version dependency is declared here within your plugin here: https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blob/bda422b8654f1597d5cb602d8a8bb5db844913f9/fluent-plugin-google-cloud.gemspec#L22

This causes FluentD to be downgraded to version to 1.7.4 when we install thi

[2020-07-17 17:38] igorpeshansky commented on #413
This plugin is designed specifically for use with the `google-fluentd` package, which bundles fluentd 1.7.4. We do not test the plugin with fluentd versions later than 1.7.4, and can't guarantee that it would work. I'll let @qingling128 make the decision on whether (and how) we want to support that use case.

Can you please expand on what features you're looking for in fluentd 1.11.1 that aren't p

[2020-07-17 17:59] smstone commented on #413
Thanks for the response. I was unaware this is specifically for use with the `google-fluentd` gem, so that makes more sense.

We are not looking at any specific features, however it was more for the bug fixes and enhancements available, as 1.7.4 is getting close to being a year old.

[2020-07-17 18:21] igorpeshansky commented on #413
Note: `google-fluentd` is a Linux package, not a gem. We do periodically upgrade the `fluentd` gem in that package. Maybe it's time to bump it again, but, as I said, I'll let @qingling128 make that decision.

[2020-07-17 19:49] qingling128 commented on #413
I happened to start the work to ugprade Fluentd to 1.11 yesterday for some other reason. The upgrade will need to pass all our validations. Stay tuned. We will provide an ETA once the initial result comes out.

[2020-07-31 16:42] dazuma opened #417 "FYI: google-cloud-logging update includes breaking changes"
This is an FYI for the maintenance team. This package uses the `google-cloud-logging` gem as the gRPC client library for the Cloud Logging service. Currently you have `google-cloud-logging` pinned to version 1.6.6. If/when you decide to upgrade this dependency to version 2.0.0 or later, please be aware that some breaking interface changes have been made, and you will need to modify your usage a bi

[2020-08-11 14:04] jkschulz commented on #413
Hey Steven,

I just finished initial testing for the upgrade to fluentd v1.11.2 and it passed!
Sent out:
- PR for the plugin: #418
- PR for google-fluentd: GoogleCloudPlatform/google-fluentd#283

Once those are submitted, it should be 4-7 days before they make it out into a release.

[2020-08-12 15:43] jkschulz commented on #413
More specifically, the fluentd update will be released in `google-fluentd` 1.8.0 + `fluent-plugin-google-cloud` 0.10.0

[2020-08-12 16:10] MrVentzi opened #419 "Runtime issue protobuf_c.so: __va_copy: symbol not found"
I've installed the latest version.

Gemfile:
[code]

Dockerfile:
[code]

Getting this on runtime

[code]

I am only doing as a test
[code]

Any ideas?

[2020-08-12 18:25] igorpeshansky commented on #419
Don't use the `fluent/fluentd:v1.7.4-1.0` base image. It's based off Alpine, and Alpine is known to have such issues, e.g.: https://github.com/protocolbuffers/protobuf/issues/2335. This specific error may have been fixed in [Alpine 3.11.5](https://alpinelinux.org/posts/Alpine-3.11.5-released.html), but `fluent/fluentd:v1.7.4-1.0` [uses Alpine 3.9](https://github.com/fluent/fluentd-docker-image/blo

[2020-08-12 18:25] #419 closed

[2020-08-28 03:57] PChenSE opened #423 "Unable to collect metrics from customized fluentd"
Hi, I have troubles to enable metrics on my GKE after customized fluentd in another namespace.
I add some changes to the fluentd configmap, since GKE default fluentd & configmap in kube-system namespace can't change(changes always get reverted), I deployed the fluentd and event-exporter in another namespace.

But the metrics are missing after I did the change. All the logs are fine, still can in t

[2020-09-01 19:25] bvandewalle opened #424 "Why is google-fluentd starting with the --no-supervisor option?"
After discovering a bottleneck cause by google-fluentd not treating logs fast enough (and therefore blocking a docker container which was outputting the log), I'm trying to make it "multi worker".

However, google-fluentd hardcoded the `--no-supervisor` option as part of the systemd startup script. I'm not sure why, but it prevents fluentd to load with multiple workers.

Is there a reason behind i

[2020-09-02 22:04] igorpeshansky commented on #424
This was done in an attempt to save memory. See the discussion in GoogleCloudPlatform/google-fluentd#225.

[2020-09-02 23:25] bvandewalle commented on #424
I thought you now supported multiple workers? (based on https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/pull/296 )

Or at least make it an option somewhere?

[2020-09-02 23:46] maxlee0782r opened #425 "NoMethodError happened while using the plugin"
I'm facing a problem using the plugin. I'm running Fluentd in Debian:stretch docker image(Debian GNU/Linux 9) with the plugin.
I used the default Fluentd config and just adding some lines as below.

[code]

The plugin version is 0.10.1 and install from gem.
And the error stacktrace is as below.

[code]

Gem packages

[code]

[2020-09-03 23:50] igorpeshansky commented on #425
This is very likely a problem with your inputs — some field of the input record (probably the timestamp) is `nil`. Do you get this error consistently? Does it also occur if you set up a different output plugin (e.g., `@type stdout` with `output_type json` and `include_time_key`/`include_tag_key` set to `true`)?

[2020-09-08 08:19] maxlee0782r commented on #425
I tried both tail and http input source and the error still happened.
Following is my whole fluentd config, I didn't set any timestamp key.
And I send the `curl -X POST -d 'json={"msg":"hello world"}' http://localhost:8888/testlog.log`, there is the error.
[code]

[2020-09-08 16:09] igorpeshansky commented on #425
Have you tried this with a different _output_ plugin? Can you also try enabling the gRPC (`use_grpc true` in the `google_cloud` plugin config) to see if you get a different error?

Since we suspect the timestamp being nil, can you also try to set the timestamp in the URL parameters when sending the message, as documented in https://docs.fluentd.org/input/http#basic-usage?

[2020-09-11 15:21] bvandewalle commented on #424
Any news on this?

[2020-09-11 20:28] jkschulz commented on #413
[1.8.0 was released on Aug 17](https://github.com/GoogleCloudPlatform/google-fluentd/releases/tag/1.8.0).

[2020-09-11 20:28] #413 closed

[2020-09-14 01:47] maxlee0782r commented on #425
I turned to use google-fluentd which works, close this issue

[2020-09-14 01:47] #425 closed

[2020-09-23 08:30] mbrezovsky commented on #370
+1

Any update about resource type support?

[2020-09-24 10:36] moxli opened #431 "calling URI.open via Kernel#open is deprecated"
I am using the latest version of this plugin and receive the following two log messages (LogLevel Error) on startup.

My environment:
- Debian 10
- td-agent 4
- fluent-plugin-google-cloud 0.10.2

I installed the plugin like this:
/usr/sbin/td-agent-gem install --no-document fluent-plugin-google-cloud -v ${fluent_plugin_gcloud_version}

`/opt/td-agent/lib/ruby/gems/2.7.0/gems/fluent-plugin-google-c

[2020-10-09 15:41] redso-mankit opened #433 "Failed to display cast error"
2020-10-09 20:49:38 +0800 [error]: Failed to set log entry field for http_request.undefined local variable or method `err' for #<Fluent::GoogleCloudOutput:000000042cd6a8>

https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blob/master/lib/fluent/plugin/out_google_cloud.rb#L1445

[code]

should be

[code]

[2020-10-22 09:35] smeeklai commented on #370
Found [this](https://github.com/salrashid123/fluent-plugin-google-cloud/blob/master/lib/fluent/plugin/out_google_cloud.rb#L133) fork that supports generic node but it's not up-to-date

[2020-10-30 03:48] iwasa-kosui opened #434 "Support protoPayload"
In Google Cloud Logging, there are textPayload, jsonPayload, and protoPayload in payload types.
However, the plugin only supports textPayload and jsonPayload.

https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blob/master/lib/fluent/plugin/out_google_cloud.rb#L1719-L1751

With type `type.googleapis.com/google.appengine.logging.v1.RequestLog`, protoPayload is very useful because it

[2020-10-30 04:39] sophieyfang commented on #434
https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry
I feel like not a lot of services support protoPayload..

[2020-10-30 04:58] iwasa-kosui commented on #434
Thank you.

Yes. Only GAE supports it officially. However, we implement a logger using protoPayload in our application.
I want group logs per a request as the below.

![](https://miro.medium.com/max/1400/1*1VL397D19bPdKZ1jfqZ1uQ.png)

If I use `textPayload` and `jsonPayload`, I have to use `trace` to group logs per a request. Moreover, we have to prepare child log and parent log to do this. Moreov

[2020-10-30 22:44] igorpeshansky commented on #434
Ingestion using `protoPayload` is not supported by the API — that field is output-only. The GAE infrastructure uses different (internal) ingestion methods.

You should be able to group by request by [adding the httpRequest special field to the JSON payload](https://cloud.google.com/logging/docs/agent/configuration#special-fields).

[2020-11-05 02:03] iwasa-kosui commented on #434
Yes. However, as I said, have to use trace to group logs per a request with using this.

I tried using protoPayload with the API, and it was succeeded. Ok, I will make PR.

[2020-11-05 02:47] iwasa-kosui commented on #434
Yes. However, as I said, have to use trace to group logs per a request with using this.
In addition, JSON payload way is not elegant because it's a bother to investigate the specific request.
The below is procedure to do this. It takes too much time.

1. Search in the parent logName with user-agent and time.
1. Confirm the request you found and remind trace id in it.
1. Search in the child logName

[2020-11-28 20:48] max0ne opened #442 "Version conflict with fluent-plugin-elasticsearch"
Hi,
I'd like to use `fluent-plugin-google-cloud` together with `fluent-plugin-elasticsearch`, however I'm running into a version conflict between:
* `fluent-plugin-google-cloud@0.10.4` > `googleauth = 0.9.0` > ` faraday ~> 0.12`
* `fluent-plugin-elasticsearch@4.2.1` > `elasticsearch@7.10.0` > `elasticsearch-transport = 7.10.0` > ` faraday ~> 1`

The solution here should be update dependency of `go

[2020-12-14 23:28] lambcode commented on #395
I am encountering the same issue. I put some rudimentary debug logs in the ruby code for the plugin and found that the "time" field is missing from the record when the plugin executes.

[2021-01-28 16:54] anishk25 opened #446 "Specifying credentials path"
Does the plugin support specifying the credentials path to use for logging to google cloud? The documentation says that the plugin uses the default credentials.  I was going through the source code and I do see there is a `private_key_path` param but its marked as deprecated.

Here is where I found the path parameter: https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blob/32510c2f2

[2021-01-28 19:34] igorpeshansky commented on #446
The path parameter is actually defined [here](https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blob/master/lib/fluent/plugin/out_google_cloud.rb#L353), and you're right, it is deprecated. The plugin uses the `googleauth` library, which will look for the credentials in the known location (`/etc/google/auth/application_default_credentials.json`) or the file path specified by the `GO

[2021-01-28 19:34] #446 closed

[2021-01-28 21:34] anishk25 commented on #446
Thanks

[2021-02-17 20:42] gjuggler opened #451 "Support logName override"
Hi team –

I'm a developer on the Terra project (a collaboration between Verily and the Broad Institute) who recently dug into some of the details of our logging infrastructure. Our core services are written in Java and run on GKE, using the default fluentd plugin to ingest logs to Cloud Logging.

I did some work recently to spruce up our JSON output to relay more of the trace & request context to

[2021-04-28 00:01] qingling128 commented on #424
Looks like this was fixed by https://github.com/GoogleCloudPlatform/google-fluentd/pull/298.

[2021-04-28 00:01] #424 closed

[2021-04-28 02:52] igorpeshansky commented on #434
Only two proto types are accepted by the API in `protoPayload`: `type.googleapis.com/google.cloud.audit.AuditLog` and `type.googleapis.com/google.appengine.logging.v1.RequestLog`. The API team tells us that no clients should be using `protoPayload` anymore, so we won't be able to implement this request.

You don't need `protoPayload` to get request correlation, see, e.g., [this Medium post](https:

[2021-04-28 02:52] #434 closed

[2021-04-30 16:14] gfrankliu opened #459 "Update the dependency versions"
A quick search shows we are still depending on the old vulnerable versions:

[code]

[2021-05-04 16:02] miquelis opened #460 "Error installing the plugin"
Hello, everyone!

I am trying to perform the installation of the plugin, however the following error occurs:

SO: Debian 10
TD-Agent: 4.1.0
fluentd: 1.12.1

[code]

[2021-05-05 06:45] patient commented on #460
`make: not found`

You can try to install something like `build-essential` or another package for you dist

[2021-06-16 19:53] raszkiewicz opened #464 "[Q] How to add missing metadata to Google logging agent?"
I'm shipping logs from on-premise to the GCP using google-fluentd agent but on the GCP side it has missing few metadata like resource.labels.instance_id

Is there any way to have it set via funentd configuration?

[2021-07-30 15:47] pikatenor opened #467 "Failed to install plugin with td-agent v3"
fluent-plugin-google-cloud gem fails to install, with latest oldstable td-agent v3.8.1.

Steps to reproduce:
[code]

Log:
[code]

It seems that google-api-client is directly depends on signet, but several other dependencies have dropped their support for Ruby 2.4.

https://github.com/googleapis/signet/pull/178
https://github.com/googleapis/google-api-ruby-client/pull/2841
https://github.com/google

[2021-08-28 03:13] cosmo0920 opened #472 "Failed to use Ruby 3.x due to outdated google-api-client 0.30.8"
When I try to use this plugin with Ruby 3.0.2, I got the following error:

[code]

[2021-09-02 17:10] aliabbasrizvi opened #473 "NoMethodError: undefined method each"
I am setting up the plugin starting with the base image: https://hub.docker.com/r/fluent/fluentd v1.13-1

[code]

When I use `@type stdout` it works perfectly well. I have set up the credentials correctly in a credentials file and set `GOOGLE_APPLICATION_CREDENTIALS` env variable.

Any hint on what could be going wrong? Any tips will be helpful.

Thanks

[2021-09-08 20:43] aliabbasrizvi commented on #425
@maxlee0782r I am running into the same issue and I followed your suggestion here to use `google-fluentd`. Were there other filters you were applying to get this to work with `google_cloud`? Was your final config similar to what you shared above or did you have to change it to make it work?

[2021-09-17 03:02] arsenyspb commented on #473
Hi @aliabbasrizvi the fluentd and the approach with the plugin for integration is under "Legacy" section in the documentation.

I'd strongly encourage you to collect telemetry data for Cloud Operations using the primary way, which is [OpsAgent](https://cloud.google.com/logging/docs/agent/ops-agent) based on [Fluentbit](https://fluentbit.io/)

[2021-09-21 00:10] aliabbasrizvi commented on #473
@arsenyspb thanks for getting back on this. Let me check that out.

[2021-09-24 02:31] aliabbasrizvi commented on #473
@arsenyspb using Fluentbit worked well for me. Closing this as resolved.

[2021-09-24 02:31] #473 closed

[2021-09-28 21:40] igorpeshansky commented on #425
@maxlee0782r Ah. Yes, the `google-fluentd` package was designed to work with the `google_cloud` output plugin. I should have picked up on you using the raw `td-agent` package before.

@aliabbasrizvi Are you seeing this error with the `google-fluentd` package? Are you in a position to open a Cloud Support issue? That would make it a lot easier to investigate, and will provide much better tracking o

[2021-10-01 16:47] aliabbasrizvi commented on #425
@igorpeshansky we ended up using fluent bit based on the suggestion [here](https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/issues/473)

[2021-11-05 05:27] polyamide commented on #473
I have some more information for people who stumble upon this issue.

1. Adding `use_grpc true` to your fluentd config can avoid this problem. The error seems only happen when it try to serialize request body for restful API. Document states that `use_grpc`'s default value is `true` seems to be incorrect. According to this line: https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blo

[2021-11-10 20:25] Cryptophobia opened #480 "Issues with google-gax gem deprecation"
When building this gem from gemspec natively:

[code]

[2021-11-18 13:07] venkyz opened #481 "Plugin installation fails on alpine 3.9 due to. grpc"
The installation fails at grpc installation step.

[code]
[code]
There is no mkmf.log file to check what exactly went wrong.

Currently Installed fluent-plugins

[code]

[2021-12-02 14:11] venkyz commented on #481
Got this fixed by installing linux-headers. The dependency was breaking everything.

[2021-12-02 14:11] #481 closed

[2021-12-29 23:17] jkschulz commented on #480
I think this is an issue with dependencies, since your snippet says version `2.5.1` for `json` but our [spec requires `2.2.0`](https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blob/acf4c9c8ce99b56a1a214e42a36797d481ef82c7/fluent-plugin-google-cloud.gemspec#L32). Try running `bundle install` first.

I verified this works for me:

[code]

The `google-gax` warning is innocuous.

[2021-12-29 23:17] #480 closed

[2022-04-13 11:32] jagdish-176 opened #488 "use_grpc throws "Segmentation fault" error after upgrade from 0.12.4 to 0.12.5"
I'm using the below configuration for plugin.
this is working with 0.12.4 version but not the latest 0.12.5

@type google_cloud
   ...
    use_metadata_service false
    buffer_type file
    buffer_path 'C:\xxx\other_logs'
    buffer_chunk_limit 5120KB
    flush_interval 5s
    disable_retry_limit false
    retry_limit 3
    retry_wait 10
    max_retry_wait 300
    num_threads 8
    use_grpc true

[2022-04-17 23:04] bborysenko commented on #395
It looks like a similar issue https://github.com/fluent/fluentd/issues/1833. I was able to resolve the problem just by setting the `keep_time_key` flag to `true`.

[2022-04-21 13:39] deama opened #489 "How to specify custom sink/logger-bucket?"
So I've installed and configured this as per the documentation over on GCP on installing ops-agent and configuring etc...
However, I am having trouble trying to figure out how to redirect the output to a different logging bucket or sink. By default it outputs to _Default logging bucket (or sink), but how do I change this? There doesn't appear to be any documentation on this at all, is it impossibl

[2022-05-26 14:22] jagdish-176 commented on #488
Can anyone help into this, currently we have downgraded to lower version.

[2022-05-26 17:24] igorpeshansky commented on #488
Between 0.12.4 and 0.12.5, the `grpc` gem was upgraded from 1.31.1 to 1.45.0, which likely introduced this instability. Since we regularly test on Windows with `use_grpc` enabled, there must be some other factor in your setup that's triggering this. Any information you can provide that would help us reproduce the issue would be helpful.

[Line 1789 of `out_google_cloud.rb`](https://github.com/Goog

[2022-06-02 21:10] gutek8654 commented on #220
@qingling128 will recall functionality with time and timestamp that you describe.
Have below json payload:
`{
	"traceId": "c166e839785464ca",
	"spanId": "c166e839785464ca",
	"spanExportable": "false",
	"timestampSeconds": 1654154142,
	"timestampNanos": 78000000
`
and below configuration:
`logging:
  receivers:
    journal:
      type: systemd_journald
  processors:
    parse_json:
      type: pars

[2022-09-19 09:22] pieterjanpintens opened #493 "RESOURCE_EXHAUSTED: Maximum length exceeded"
We are seeing these errors like this in our logs from fluentd.

`2022-09-18 21:50:00.944377087 +0000 fluent.warn: {"error":"3:Data decompression failed with decompression status: RESOURCE_EXHAUSTED: Maximum length exceeded: 10485760; at byte 755395; at uncompressed byte 10485760. debug_error_string:{\"created\":\"@1663537800.943751927\",\"description\":\"Error received from peer ipv4:216.239.34.17

[2022-09-19 10:56] pieterjanpintens commented on #493
Looking at the code it seems that log entries are bundled per tag before sending them out. Would it make sense to set a limit on the number of entries in each send operation and split the entries over multiple send operations when needed? I think this allows to limit the outgoing message size.